$small-min-width: 320px;
$cards-1-col-max-width: 384px;
$cards-2-col-min-width: 385px;
$small-max-width: 767px;
$medium-min-width: 768px;
$medium-max-width: 1219px;
$large-min-width: 1220px;
$large-max-width: 1839px;
$huge-min-width: 1840px;

// TODO: add media mixins (like Bootstrap)
