-
  const $PAGES = {
    'index': 'Главная',
    'about': 'О компании',
    'projects': 'Проекты',
    'team': 'Команда',
    'equipment': 'Оборудование',
    'partners': 'Клиенты/Партнеры',
    'contacts': 'Контакты',
  };
