.modal__list {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  .js-show-modal & {
    display: block;
  }
}
