#{$this}__list {
  @include list();
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  .js-show-modal & {
    display: block;
  }
}
