.slider-controls__button {
  display: block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: {
    width: 1px;
    style: solid;
    color: #f8f8f8;
    radius: 50%;
  }
  cursor: pointer;

  &.is-current {
    background-color: white;
  }
}
