.catalog-card__column-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @media (min-width: $medium-min-width) {
    flex-shrink: 0;
    width: 350px;
    margin: {
      bottom: 0;
      right: 20px;
    }
  }

  @media (min-width: $large-min-width) {
    margin-right: 40px;
  }
}
