.address__legend {
  .address--contacts & {
    display: block;
    color: $light-gray;
  }

  .address--footer & {
    display: none;
  }

  @media (min-width: $large-min-width) {
    .address--contacts & {
      margin-bottom: 20px;
    }
  }
}
