.about__heading {
  margin: {
    top: 0;
    bottom: 20px;
  }
  font-size: 32px;
  line-height: 48px;
  text: {
    align: center;
    transform: uppercase;
  }

  @media (min-width: $medium-min-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $large-min-width) {
    font-size: 36px;
    line-height: 52px;
  }

  @media (min-width: $huge-min-width) {
    margin-bottom: 63px;
  }
}
