.contacts__tip {
  display: none;

  @include media-breakpoint-from(large) {
    @include font(400, 28px, 42px);
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    color: $light-gray;
  }
}
