.contacts__tels {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;

  @include media-breakpoint-from(medium) {
    padding-right: 50px;
    border-right: 1px solid #bfbfbf;
  }

  @include media-breakpoint-from(large) {
    margin-bottom: 30px;
    padding-right: 0;
    border-right-style: none;
  }
}
