#{$this}__tels {
  @include list();
  flex-grow: 1;

  @include media-breakpoint-from(medium) {
    padding-right: 50px;
    border-right: 1px solid #bfbfbf;
  }

  @include media-breakpoint-from(large) {
    margin-bottom: 30px;
    padding-right: 0;
    border-right-style: none;
  }
}
