.modal__item {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  display: none;
  width: 270px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: transform 0.5s;

  @for $i from 1 through 7 {
    .js-show-modal--#{$i} &--#{$i} {
      transform: translateX(-50%) scale(1);
      display: block;
    }
  }

  @media (min-width: $medium-min-width) {
    width: 718px;
  }
}
