.team-gallery__list {
  margin: {
    top: 0;
    bottom: 0;
  }
  padding-left: 0;

  @media (min-width: $medium-min-width) {
    display: grid;
    grid: {
      template: {
        rows: repeat(4, auto);
        columns: repeat(3, auto);
      }
      row-gap: 10px;
      column-gap: 11px;
    }
  }

  @media (min-width: $huge-min-width) {
    grid: {
      template: {
        rows: repeat(4, 394px);
        columns: repeat(3, 592px);
      }
      gap: 12px;
    }
  }
}
