.team-gallery__item {
  @function is-small($number) {
    @return index((1, 6,), $number) == null;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $medium-min-width) {
    $item-grid-areas: (
      "1 / 1 / 3 / 4",
      "1 / 3 / 2 / 4",
      "2 / 3 / 3 / 4",
      "3 / 1 / 4 / 2",
      "4 / 1 / 5 / 2",
      "3 / 2 / 5 / 4",
    );

    height: auto;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    @for $i from 1 through 6 {
      &--#{$i} {
        width: if(is-small($i), 239px, 478px);
        grid-area: unquote(nth($item-grid-areas, $i));
      }
    }
  }

  @media (min-width: $large-min-width) {
    @for $i from 1 through 6 {
      &--#{$i} {
        width: if(is-small($i), 384px, 783px);
      }
    }
  }

  @media (min-width: $huge-min-width) {
    @for $i from 1 through 6 {
      &--#{$i} {
        width: if(is-small($i), 592px, 1196px);
      }
    }
  }
}
