.team-gallery__inner {
  @include padding-hor(20px);
  padding-bottom: 60px;

  @media (min-width: $medium-min-width) {
    padding-bottom: 90px;
  }

  @media (min-width: $large-min-width) {
    padding-bottom: 117px;
  }
}
