#{$this}__list {
  @include list();

  @include media-breakpoint-from(medium) {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 10px;
    grid-column-gap: 11px;
  }

  @include media-breakpoint-from(huge) {
    grid-template-rows: repeat(4, 394px);
    grid-template-columns: repeat(3, 592px);
    grid-gap: 12px;
  }
}
