#{$this}__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.3);
  transition: all 1s ease;
  opacity: 0;
  z-index: -1;

  &.prev {
    transform: translateY(-50%) translateX(50%) scale(0.6);
    z-index: 1;
  }

  &.next {
    transform: translateY(-50%) translateX(-150%) scale(0.6);
    z-index: 1;
  }

  &.now {
    top: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
    z-index: 5;
  }

  @include media-breakpoint-from(medium) {
    &.prev {
      transform: translateY(-50%) translateX(75%) scale(0.6);
      opacity: 0.75;
    }

    &.next {
      transform: translateY(-50%) translateX(-175%) scale(0.6);
      opacity: 0.75;
    }
  }

  @include media-breakpoint-from(large) {
    &.prev-prev {
      z-index: 1;
      transform: translateY(-50%) translateX(160%) scale(0.3);
      opacity: 0.5;
    }

    &.prev {
      z-index: 3;
    }

    &.next-next {
      z-index: 1;
      transform: translateY(-50%) translateX(-260%) scale(0.3);
      opacity: 0.5;
    }

    &.next {
      z-index: 3;
    }
  }
}
