extends common/template-page.pug

block title
  | О компании | Live Sound Agency

block body
  body.page.page--about
    .page__header
      +page-header('about')
    .page__main
      main.page-main.page-main--about
        .page-main__intro
          +intro('about', 'О компании')
        .page-main__history
          +history()
        .page-main__mission
          +mission()
    .page__footer
      +page-footer('about')
    script(src='js/about-slider.js')
    include common/common-scripts.pug
