extends templates/template-page.pug

block title
  | О компании | Live Sound Agency

block header
  +page-header('about')

block footer
  +page-footer('about')

block main
  main.page-main.page__main
    div.page-main__intro
      include modules/m-intro.pug
      +intro('О компании')
    div.page-main__history
      include modules/m-history.pug
      +history()
    div.page-main__mission
      include modules/m-mission.pug
      +mission()
