extends common/template-page.pug

block title
  | О компании | Live Sound Agency

block body
  body.page.page--about
    div.page__header
      +page-header('about')
    div.page__main
      main.page-main.page-main--about
        div.page-main__intro
          +intro('about', 'О компании')
        div.page-main__history
          +history()
        div.page-main__mission
          +mission()
    div.page__footer
      +page-footer('about')
    include common/common-scripts.pug
