extends templates/page-template.pug

block title
  | О компании | Live Sound Agency

block main
  main.page-main.page__main
    div.page-main__intro
      +intro('О компании')
    div.page-main__history
      include modules/b-history.pug
    div.page-main__mission
      include modules/b-mission.pug
