extends common/template-page.pug

block title
  | Контакты | Live Sound Agency

block body
  body.page.page--contacts
    div.page__header
      +page-header('contacts')
    div.page__main
      main.page-main
        div.page-main__intro
          +intro('contacts', 'Контакты')
        div.page-main__contacts
          +contacts()
    div.page__footer
      +page-footer('contacts')
    include common/common-scripts.pug
