extends common/template-page.pug

block title
  | Контакты | Live Sound Agency

block header
  +page-header('contacts')

block footer
  +page-footer('contacts')

block main
  main.page-main
    div.page-main__intro
      +intro('Контакты')
    div.page-main__contacts
      +contacts()
