extends common/template-page.pug

block title
  | Контакты | Live Sound Agency

block body
  body.page.page--contacts
    .page__header
      +page-header('contacts')
    .page__main
      main.page-main.page-main--contacts
        .page-main__intro
          +intro('contacts', 'Контакты')
        .page-main__contacts
          +contacts()
    .page__footer
      +page-footer('contacts')
    script(src="https://api-maps.yandex.ru/2.1/?apikey=ccb82d7c-0ab4-4b31-b2d1-f7884591ed14&lang=ru_RU" type="text/javascript")
    include common/common-scripts.pug
    script(src="js/contacts-map.js")
