extends templates/page-template.pug

block title
  | Контакты | Live Sound Agency

block main
  main.page-main.page__main
    div.page-main__intro
      +intro('Контакты')
    div.page-main__contacts
      include modules/b-contacts.pug
