extends templates/template-page.pug

block title
  | Контакты | Live Sound Agency

block header
  +page-header('contacts')

block footer
  +page-footer('contacts')

block main
  main.page-main.page__main
    div.page-main__intro
      include modules/m-intro.pug
      +intro('Контакты')
    div.page-main__contacts
      include modules/m-contacts.pug
      +contacts()
