extends templates/page-template.pug

block title
  | Оборудование | Live Sound Agency

block main
  main(class="page-main page__main")
    header(class="intro page-main__intro")
      div(class="intro__inner aligner")
        h1(class="intro__heading") Оборудование
    include modules/b-catalog.pug
