extends templates/page-template.pug

block title
  | Оборудование | Live Sound Agency

block header
  +page-header('equipment')

block footer
  +page-footer('equipment')

block main
  main.page-main.page__main
    div.page-main__intro
      +intro('Оборудование')
    div.page-main__catalog
      include modules/b-catalog.pug
