extends templates/template-page.pug

block title
  | Оборудование | Live Sound Agency

block header
  +page-header('equipment')

block footer
  +page-footer('equipment')

block main
  main.page-main.page__main
    div.page-main__intro
      include modules/m-intro.pug
      +intro('Оборудование')
    div.page-main__catalog
      include modules/m-catalog.pug
      +catalog()
