extends common/template-page.pug

block title
  | Оборудование | Live Sound Agency

block body
  body.page.page--equipment
    .page__header
      +page-header('equipment')
    .page__main
      main.page-main.page-main--equipment
        .page-main__intro
          +intro('equipment', 'Оборудование')
        .page-main__catalog
          +catalog()
    .page__footer
      +page-footer('equipment')
    include common/common-scripts.pug
    script(src="js/equipment-catalog.js")
