extends templates/page-template.pug

block title
  | Главная | Live Sound Agency

block main
  main(class="page-main page__main")
    h1(class="visually-hidden") Сайт компании Live Sound Agency
    div(class="page-main__promo")
      include modules/b-promo.pug
    div(class="page-main__advantages")
      include modules/b-advantages.pug
    div(class="page-main__directions")
      include modules/b-directions.pug
    section(class="partners page__partners page__partners--1")
      div(class="partners__inner aligner")
        h2(class="partners__heading") Оборудование от компаний-лидеров мирового рынка
        include modules/b-partners-list--incomplete.pug
    include modules/b-about.pug
    section(class="partners page__partners page__partners--2")
      div(class="partners__inner aligner")
        h2(class="partners__heading") Партнеры
        include modules/b-partners-list--incomplete.pug

