extends common/template-page.pug

block title
  | Главная | Live Sound Agency

block jquery-preload
  include common/jquery-preload

block body
  body.page.page--index
    .page__header
      +page-header('index')
    .page__main
      main.page-main
        h1.visually-hidden Сайт компании Live Sound Agency
        .page-main__promo
          +promo()
        .page-main__advantages
          +advantages()
        .page-main__directions
          +projects('Основные направления')
        .page-main__partners
          +partners(
            'short',
            'Оборудование от компаний-лидеров мирового рынка', 'partners-small-heading'
          )
        .page-main__about
          +about()
        .page-main__partners
          +partners('short', 'Партнеры', '')
    .page__footer
      +page-footer('index')
    include common/common-scripts.pug
    script(src='js/promo-slider.js')
    include common/project-card-scripts.pug
