extends templates/page-template.pug

block title
  | Главная | Live Sound Agency

block header
  +page-header('index')

block footer
  +page-footer('index')

block main
  main.page-main.page__main
    h1.visually-hidden Сайт компании Live Sound Agency
    div.page-main__promo
      include modules/b-promo.pug
    div.page-main__advantages
      include modules/b-advantages.pug
    div.page-main__directions
      section.directions
        div.directions__inner.aligner
          h2.directions__heading Основные направления
          div.directions__content
            include modules/b-project-cards.pug
    div.page-main__partners
      +partners('small', 'Оборудование от компаний-лидеров мирового рынка')
        +partners__item('lacoustics', 'L-Acoustics')
        +partners__item('yamaha', 'Yamaha')
        +partners__item('shure', 'SHURE')
        +partners__item('lacoustics', 'L-Acoustics')
        +partners__item('yamaha', 'Yamaha')
        +partners__item('shure', 'SHURE')
    div.page-main__about
      include modules/b-about.pug
    div.page-main__partners
      +partners('small', 'Партнеры')
        +partners__item('lacoustics', 'L-Acoustics')
        +partners__item('yamaha', 'Yamaha')
        +partners__item('shure', 'SHURE')
        +partners__item('lacoustics', 'L-Acoustics')
        +partners__item('yamaha', 'Yamaha')
        +partners__item('shure', 'SHURE')
