extends common/template-page.pug

block title
  | Главная | Live Sound Agency

block header
  +page-header('index')

block footer
  +page-footer('index')

block main
  main.page-main
    h1.visually-hidden Сайт компании Live Sound Agency
    div.page-main__promo
      +promo()
    div.page-main__advantages
      +advantages()
    div.page-main__directions
      +directions()
    div.page-main__partners
      +partners('short', 'Оборудование от компаний-лидеров мирового рынка')
    div.page-main__about
      +about()
    div.page-main__partners
      +partners('short', 'Партнеры', 'partners--large-heading')

block particular-scripts
  script(src="js/promo-slider.js")
