extends common/template-page.pug

block title
  | Клиенты/Партнеры | Live Sound Agency

block body
  body.page.page--partners
    div.page__header
      +page-header('partners')
    div.page__main
      main.page-main
        div.page-main__intro
          +intro('Клиенты/Партнеры')
        div.page-main__partners
          +partners('long', 'Наши партнеры', '')
        div.page-main__acknowledgements
          +acknowledgements()
        div.page-main__partners
          +partners('long', 'Нам доверяют', '')
    div.page__footer
      +page-footer('partners')
    include common/common-scripts.pug
