extends templates/page-template.pug

block title
  | Клиенты/Партнеры | Live Sound Agency

block header
  +page-header('partners')

block footer
  +page-footer('partners')

block main
  main.page-main.page__main
    header.intro.page-main__intro
      div.intro__inner.aligner
        h1.intro__heading Клиенты/Партнеры
    div.page-main__partners
      +partners('long', 'Наши партнеры')
    div.page-main__acknowledgements
      include modules/b-acknowledgements.pug
    div.page-main__partners
      +partners('long', 'Нам доверяют')
