extends templates/template-page.pug

block title
  | Клиенты/Партнеры | Live Sound Agency

block header
  +page-header('partners')

block footer
  +page-footer('partners')

block main
  main.page-main.page__main
    div.page-main__intro
      include modules/m-intro.pug
      +intro('Клиенты/Партнеры')
    div.page-main__partners
      include modules/m-partners.pug
      +partners('long', 'Наши партнеры')
    div.page-main__acknowledgements
      include modules/m-acknowledgements.pug
      +acknowledgements()
    div.page-main__partners
      include modules/m-partners.pug
      +partners('long', 'Нам доверяют')
