extends common/template-page.pug

block title
  | Клиенты/Партнеры | Live Sound Agency

block body
  body.page.page--partners
    .page__header
      +page-header('partners')
    .page__main
      main.page-main.page-main--partners
        .page-main__intro
          +intro('partners', 'Клиенты/Партнеры')
        .page-main__partners
          +partners('long', 'Наши партнеры', '')
        .page-main__acknowledgements
          +acknowledgements()
        .page-main__partners
          +partners('long', 'Нам доверяют', '')
    .page__footer
      +page-footer('partners')
    .page__modal
      +modal()
    script(src='js/acknowledgements-slider.js')
    include common/common-scripts.pug
