extends common/template-page.pug

block title
  | Проекты | Live Sound Agency

block body
  body.page.page--projects
    .page__header
      +page-header('projects')
    .page__main
      main.page-main.page-main--projects
        .page-main__intro
          +intro('projects', 'Проекты')
        .page-main__projects
          +projects('Реализованные проекты')
        .page-main__supremacy
          +supremacy()
    .page__footer
      +page-footer('projects')
    include common/common-scripts.pug
    script(src='js/project-cards.js')
