extends templates/page-template.pug

block title
  | Проекты | Live Sound Agency

block header
  +page-header('projects')

block footer
  +page-footer('projects')

block main
  main.page-main.page__main
    div.page-main__intro
      +intro('Проекты')
    div.page-main__projects
      section.projects
        div.projects__inner.aligner
          h2.projects__heading Реализованные проекты
          div.projects__content
            include modules/b-project-cards.pug
    div.page-main__supremacy
      include modules/b-supremacy.pug
