extends templates/template-page.pug

block title
  | Проекты | Live Sound Agency

block header
  +page-header('projects')

block footer
  +page-footer('projects')

block main
  main.page-main.page__main
    div.page-main__intro
      include modules/m-intro.pug
      +intro('Проекты')
    div.page-main__projects
      include modules/m-projects.pug
      +projects()
    div.page-main__supremacy
      include modules/m-supremacy.pug
      +supremacy()
