extends templates/page-template.pug

block title
  | Команда | Live Sound Agency

block main
  main(class="page-main page__main")
    header(class="intro page-main__intro")
      div(class="intro__inner aligner")
        h1(class="intro__heading") Команда
    include modules/b-experience.pug
    include modules/b-team-gallery.pug
