extends templates/page-template.pug

block title
  | Команда | Live Sound Agency

block main
  main.page-main.page__main
    div.page-main__intro
      +intro('Команда')
    div.page-main__experience
      include modules/b-experience.pug
    div.page-main__team-gallery
      include modules/b-team-gallery.pug
