extends common/template-page.pug

block title
  | Команда | Live Sound Agency

block body
  body.page.page--team
    div.page__header
      +page-header('team')
    div.page__main
      main.page-main
        div.page-main__intro
          +intro('Команда')
        div.page-main__experience
          +experience()
        div.page-main__team-gallery
          +team-gallery()
    div.page__footer
      +page-footer('team')
    include common/common-scripts.pug

