.contacts__tels {
  flex-grow: 1;
  margin: {
    top: 0;
    bottom: 20px;
  }
  padding-left: 0;

  @media (min-width: $medium-min-width) {
    padding-right: 50px;
    border-right: 1px solid #bfbfbf;
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 30px;
    padding-right: 0;
    border-right-style: none;
  }
}
