.contacts__tip {
  display: none;

  @media (min-width: $large-min-width) {
    @include font(400, 28px, 42px);
    display: block;
    margin: {
      top: 0;
      bottom: 20px;
    }
    color: $light-gray;
  }
}
