.contacts__column-2 {
  width: 100%;
  height: 280px;

  @media (min-width: $large-min-width) {
    width: calc(100% - var(--column-1-full-width));
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
