mixin socials()
  - const SOCIALS_ITEMS = ['instagram', 'youtube', 'facebook'];
  div(class=['socials', ($pageId === 'contacts' ? 'socials--contacts' : null)])
    ul.socials__list
      each item in SOCIALS_ITEMS
        - const label = item.slice(0, 1).toUpperCase().concat(item.slice(1));
        li.socials__item
          a(
            class=setModifiers('socials__link', [item]),
            href='#',
            target='_blank',
            aria-label=label,
          )
