.about__inner {
  padding: 20px 20px 30px;
}

.about__heading {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(400, 28px, 42px);
  text-align: center;
  text-transform: uppercase;
}

.about__column-1 {
  margin-bottom: 30px;

  @media (min-width: $min-tablet-width) {
    float: right;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.about__video-link {
  position: relative;
  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-image: url("../img/about-video-play-icon.svg");
  }
}

.about__image {
  display: block;
}

.about__description {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(400, 18px, 30px);

  @media (min-width: $min-tablet-width) {
    @include font(400, 20px, 30px);
  }
}

.about__more-link {
  display: block;

  @include font(400, 18px, 52px);
  text-decoration: underline;
  color: $azure;
}
