.advantages__inner {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__heading {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(400, 28px, 42px);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 60px;

    @include font(400, 32px, 48px);
  }
}

.advantages__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media (min-width: $min-tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
  }
}

.advantages__item {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-position: top;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &--1 {
    background-image: url("../img/advantages-1.png");
  }

  &--2 {
    background-image: url("../img/advantages-2.png");
  }

  &--3 {
    background-image: url("../img/advantages-3.png");
  }

  &--4 {
    background-image: url("../img/advantages-4.png");
  }

  @media (min-width: $min-tablet-width) {
    width: 50%;
    margin-top: 60px;
    padding-left: 25px;
    padding-right: 25px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.advantages__caption {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(700, 22px, 52px);
  text-align: center;
}

.advantages__description {
  margin-top: 0;
  margin-bottom: 0;

  @include font(400, 18px, 22px);

  @media (min-width: $min-tablet-width) {
    text-align: center;
  }
}

.advantages__string {
  text-transform: uppercase;
}
