.connection {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-tablet-width) {
    flex-direction: row;
  }
}

.connection__tel {
  display: block;
  margin-bottom: 15px;

  @include font(400, 24px, 36px);
  color: white;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 0;
    margin-right: 40px;

    @include font(400, 32px, 48px);
  }
}
