.main-navigation__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  .main-navigation--footer & {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 10%;
  }
}

.main-navigation__item {
  .main-navigation--header & {
    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
  }
}

.main-navigation__link {
  .main-navigation--header & {
    display: block;
    padding: 15px 20px;

    @include font(400, 18px, 20px);
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #1a1a2b;
  }

  .main-navigation--footer & {
    @include font(400, 14px, 21px);
    color: $light-gray;
  }
}
