.page-header {
  background-color: rgba(0, 0, 0, 0.4);
}

.page-header__inner {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__menu-controls {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
}

.page-header__navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 240px;
  background-color: red;

  &.is-visible {
    display: block;
  }
}

.page-header__connection {
  margin-top: 20px;
}

.page-header__language-toggle {
  position: absolute;
  top: 100px;
  right: 40px;
  z-index: 1;
}
