.page-header {
  background-color: rgba(0, 0, 0, 0.4);
}

.page-header__inner {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $min-tablet-width) {
    display: flex;
    padding-top: 20px;
  }

  @media (min-width: $min-laptop-width) {
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.page-header__logo {
  @media (min-width: $min-tablet-width) {
    margin-left: 80px;
  }

  @media (min-width: $min-laptop-width) {
    margin-left: 0;
    margin-right: 45px;
  }
}

.page-header__menu-controls {
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 1;

  @media (min-width: $min-tablet-width) {
    top: 50px;
    left: 20px;
    right: auto;
  }
}

.page-header__navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 240px;

  &.is-visible {
    display: block;
  }

  @media (min-width: $min-tablet-width) {
    left: 90px;
    width: 400px;
  }

  @media (min-width: $min-laptop-width) {
    flex-grow: 1;
    position: static;
    left: auto;
    display: block;
    width: auto;
    margin-left: auto;
  }
}

.page-header__connection {
  margin-top: 20px;

  @media (min-width: $min-tablet-width) {
    margin-top: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  @media (min-width: $min-laptop-width) {
    position: relative;
    top: -30px;
  }
}

.page-header__language-toggle {
  position: absolute;
  top: 100px;
  right: 40px;
  z-index: 1;

  @media (min-width: $min-tablet-width) {
    top: 160px;
    right: 50px;
  }

  @media (min-width: $min-laptop-width) {
    top: 220px;
    left: 50px;
    right: auto;
  }
}
