.partners__inner {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.partners__heading {
  margin-top: 0;
  margin-bottom: 30px;

  @include font(400, 20px, 28px);
  text-align: center;
  text-transform: uppercase;
}

.partners__list {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.partners__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.partners__logo {
  display: block;
}
