.project-card__link {
  position: relative;
  display: block;
}

.project-card__image {
  display: block;
}

.project-card__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 158px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: $min-tablet-width) {
    min-height: 100px;
    max-height: 205px;
    padding-left: 50px;
  }
}

.project-card__caption-text {
  @include font(400, 20px, 28px);
  text-transform: uppercase;
  color: white;
}
