.project-cards {
  margin-bottom: 0;
  padding-left: 0;

  @media (min-width: $min-tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-cards__item {
  box-shadow: 0 0 3px 0 black;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $min-tablet-width) {
    width: 50%;
    box-shadow: none;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
