.project-cards {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media (min-width: $min-tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-cards__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $min-tablet-width) {
    width: 50%;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
