.project-card__link {
  position: relative;
  display: block;
}

.project-card__image {
  display: block;
}

.project-card__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.project-card__caption-text {
  @include font(400, 20px, 28px);
  text-transform: uppercase;
  color: white;
}
