.promo-slide {
  display: flex;
  width: 100%;
  background-color: #1a1a2b;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1920px 1080px;
  --promo-slide-padding-top: 265px;

  &--1 {
    background-image: url("../img/promo-slide--1-background.jpg");
  }

  &--2 {
    background-image: url("../img/promo-slide--2-background.jpg");
  }

  &--3 {
    background-image: url("../img/promo-slide--3-background.jpg");
  }

  &--4 {
    background-image: url("../img/promo-slide--4-background.jpg");
  }

  @media (min-width: $min-tablet-width) {
    --promo-slide-padding-top: 225px;
  }

  @media (min-width: $min-laptop-width) {
    --promo-slide-padding-top: 275px;
  }
}

.promo-slide__inner {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--promo-slide-padding-top) + 15px);
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.promo-slide__title {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(700, 22px, 32px);
  text-align: center;
  text-transform: uppercase;
  color: white;

  @media (min-width: $min-tablet-width) {
    @include font(700, 28px, 42px);
  }

  @media (min-width: $min-laptop-width) {
    margin-bottom: 10px;
    padding-left: 160px;
    padding-right: 80px;

    @include font(700, 42px, 63px);
    text-align: left;
  }
}

.promo-slide__subtitle {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(400, 16px, 24px);
  text-align: center;
  color: white;

  @media (min-width: $min-tablet-width) {
    @include font(400, 20px, 28px);
  }

  @media (min-width: $min-laptop-width) {
    padding-left: 160px;
    padding-right: 60px;

    @include font(400, 42px, 63px);
    text-align: left;
  }
}

.promo-slide__more-link {
  display: block;
  margin-top: auto;

  @include margin-hor;
  width: 75px;
  height: 75px;
  background-image: url("../img/promo-slide-down-arrow.png");
  background-repeat: no-repeat;
  background-position: 50% calc(50% + 3px);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
