.promo-slide {
  background-color: #1a1a2b;
  background-image: url("../img/promo-slide-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  --promo-slide-padding-top: 265px;

  @media (min-width: $min-tablet-width) {
    --promo-slide-padding-top: 225px;
  }
}

.promo-slide__inner {
  padding-top: calc(var(--promo-slide-padding-top) + 15px);
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.promo-slide__title {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(700, 24px, 36px);
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.promo-slide__subtitle {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(400, 18px, 24px);
  text-align: center;
  color: white;
}

.promo-slide__more-link {
  display: block;

  @include margin-hor;
  width: 75px;
  height: 75px;
  background-image: url("../img/promo-slide-down-arrow.png");
  background-repeat: no-repeat;
  background-position: 50% calc(50% + 3px);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
