.slider-controls__list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.slider-controls__item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.slider-controls__button {
  display: block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid #f8f8f8;
  border-radius: 50%;

  &.is-current {
    background-color: white;
  }
}
