.page-footer
  mixin page-footer__column(modifier)
    div(class=setModifiers('page-footer__column', [modifier]))
      block
  mixin page-footer__nest(modifier)
    div(class=setModifiers('page-footer__nest', [modifier]))
      block

  .aligner.page-footer__inner
    +page-footer__column(1)
      +page-footer__nest('address')
        +address()(location='footer')
      +page-footer__nest('logo')
        +logo()(location='footer')
      +page-footer__nest('copyright')
        +copyright()
    +page-footer__column(2)
      +page-footer__nest('navigation')
        +footer-navigation()
      +page-footer__nest('widget')
        +widget()
    +page-footer__column(3)
      +page-footer__nest('connection')
        .page-footer__tel
          +tel()
        .page-footer__socials
          +socials()
    .page-footer__creator
      +creator()
