.#{$this}__nest {
  &--address {
    margin-bottom: 20px;
  }

  &--logo {
    margin-bottom: 10px;
  }

  &--navigation {
    margin-bottom: 20px;
  }

  &--widget {
    @include margin-hor();
    width: 267px;
    height: 214px;
  }

  &--connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include media-breakpoint-from(medium) {
    &--address {
      margin-bottom: 16px;
    }

    &--logo {
      order: 1;
      display: flex;
      align-items: center;
      height: 100%;
      margin-bottom: 0;
      margin-left: 40px;
    }

    &--navigation {
      width: 50%;
      margin-bottom: 0;
    }

    &--copyright {
      align-self: flex-start;
    }

    &--widget {
      @include margin-hor(0);
      width: 50%;
    }

    &--connection {
      align-items: flex-end;
    }
  }

  @include media-breakpoint-from(large) {
    &--address {
      margin-bottom: 20px;
    }

    &--logo {
      order: 0;
      height: auto;
      margin-bottom: 20px;
      margin-left: 0;
    }

    &--connection {
      justify-content: flex-start;
    }
  }
}
