.#{$this}__inner {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;

  @include media-breakpoint-from(medium) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include media-breakpoint-from(large) {
    justify-content: flex-start;
    padding-top: 50px;
  }

  @include media-breakpoint-from(huge) {
    padding-left: 337px;
    padding-right: 342px;
  }
}
