.page-header__socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: $medium-min-width) {
    align-items: center;
    margin-top: 0;
    margin-left: auto;
    padding-top: 16px;
  }

  @media (min-width: $large-min-width) {
    align-self: center;
    padding-top: 0;
  }

  @media (min-width: $huge-min-width) {
    position: static;
    align-items: stretch;
    margin-left: 140px;
  }
}
