.page-header__logo {
  @media (min-width: $medium-min-width) {
    margin-left: 80px;
  }

  @media (min-width: $large-min-width) {
    margin-left: 0;
    margin-right: 90px / $large-min-width * 100%;
  }

  @media (min-width: $huge-min-width) {
    margin-right: 140px;
  }
}
