.page-header__inner {
  @include margin-hor();
  position: relative;
  width: $small-min-width;
  padding: 30px 20px 20px;

  @media (min-width: $medium-min-width) {
    display: flex;
    width: auto;
    padding-top: 20px;
  }

  @media (min-width: $large-min-width) {
    padding: {
      left: 40px;
      right: 40px;
    }
  }

  @media (min-width: $huge-min-width) {
    width: $huge-min-width;
    padding: {
      left: 10px;
      right: 100px;
    }
  }
}
