.page-header__language-toggle {
  position: absolute;
  top: 100px;
  right: 30px;
  z-index: 1;

  @media (min-width: $medium-min-width) {
    top: 20px;
    right: 20px;
  }

  @media (min-width: $large-min-width) {
    right: 40px;
  }

  @media (min-width: $huge-min-width) {
    right: 100px;
  }
}
