.about__description {
  @include font(400, 16px, 28px);
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $medium-min-width) {
    @include font(400, 20px, 30px);
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 15px;
    font-size: 16px;
  }

  @media (min-width: $huge-min-width) {
    margin-bottom: 28px;
    font-size: 18px;
  }
}
