.#{$this}__column {
  &--1 {
    margin-bottom: 30px;
  }

  @include media-breakpoint-from(medium) {
    &--1 {
      float: right;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }

  @include media-breakpoint-from(large) {
    &--1 {
      float: none;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 45px;
    }
  }

  @include media-breakpoint-from(huge) {
    &--2 {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 75px;
    }
  }
}
