mixin partners(listSize, heading, specialModifier)
  -
    const PARTNERS_DATA = {
      'short': [
        ['lacoustics', 'L-Acoustics'],
        ['yamaha', 'Yamaha'],
        ['shure', 'SHURE'],
        ['lacoustics', 'L-Acoustics'],
        ['yamaha', 'Yamaha'],
        ['shure', 'SHURE'],
      ],
      'long': [
        ['yamaha', 'Yamaha'],
        ['lacoustics', 'L-Acoustics'],
        ['yamaha', 'Yamaha'],
        ['brandday', 'День Бренда'],
        ['shure', 'SHURE'],
        ['mango', 'Mango'],
        ['lacoustics', 'L-Acoustics'],
        ['omega', 'Omega'],
        ['shure', 'SHURE'],
        ['shure-alt', 'SHURE'],
      ],
    };
  section(class=['partners', `partners--${listSize}`, specialModifier])
    .partners__inner.aligner
      h2.partners__heading.heading= heading
      ul.partners__list
        each item in PARTNERS_DATA[listSize]
          - const [path, alt] = item;
          li.partners__item
            img.partners__logo(src=`img/partners-${path}.png`, alt=alt)
