.#{$this}__heading {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;

  .#{$this}--small-heading & {
    font-size: 20px;
    line-height: 30px;
  }

  @include media-breakpoint-from(medium) {
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 48px;

    .#{$this}--small-heading & {
      font-size: 32px;
      line-height: 48px;
    }
  }

  @include media-breakpoint-from(large) {
    font-size: 36px;
    line-height: 52px;

    .#{$this}--small-heading & {
      font-size: 36px;
      line-height: 52px;
    }
  }

  @include media-breakpoint-from(huge) {
    margin-bottom: 85px;
  }
}
