.aligner {
  @include margin-hor();
  width: get-breakpoint(small);

  @include media-breakpoint-from(medium) {
    width: get-breakpoint(medium);
  }

  @include media-breakpoint-from(large) {
    width: get-breakpoint(large);
  }

  @include media-breakpoint-from(huge) {
    width: get-breakpoint(huge);
  }
}
