.aligner {
  width: $min-mobile-width;

  @include margin-hor;
  outline: 1px solid red;
  outline-offset: -1px;

  @media (min-width: $min-tablet-width) {
    width: $min-tablet-width;
  }

  @media (min-width: $min-laptop-width) {
    width: $min-laptop-width;
  }
}
