include ../modules/m-about.pug
include ../modules/m-acknowledgements.pug
include ../modules/m-address.pug
include ../modules/m-advantages.pug
include ../modules/m-catalog.pug
include ../modules/m-connection.pug
include ../modules/m-contacts.pug
include ../modules/m-copyright.pug
include ../modules/m-creator.pug
include ../modules/m-directions.pug
include ../modules/m-experience.pug
include ../modules/m-history.pug
include ../modules/m-intro.pug
include ../modules/m-language-toggle.pug
include ../modules/m-logo.pug
include ../modules/m-main-navigation.pug
include ../modules/m-menu-controls.pug
include ../modules/m-mission.pug
include ../modules/m-page-footer.pug
include ../modules/m-page-header.pug
include ../modules/m-partners.pug
include ../modules/m-project-cards.pug
include ../modules/m-projects
include ../modules/m-promo.pug
include ../modules/m-slider-controls.pug
include ../modules/m-socials.pug
include ../modules/m-supremacy.pug
include ../modules/m-team-gallery.pug
