#{$this}__inner {
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;

  @include media-breakpoint-from(large) {
    padding-bottom: 140px;
  }

  @include media-breakpoint-from(huge) {
    padding-left: 330px;
    padding-right: 330px;
  }
}
