include m-logo.pug
include m-main-navigation.pug

mixin page-footer(pageName)
  footer.page-footer
    div.page-footer__inner.aligner
      div.page-footer__column-1
        div.page-footer__address
          include ../modules/b-address.pug
        div.page-footer__logo
          +logo('footer', pageName)
        p(class="copyright page-footer__copyright") © 2016 <span class="copyright__string">Live-sound agency</span>
      div.page-footer__column-2
        div.page-footer__navigation
          +main-navigation(pageName, 'footer')
      div.page-footer__column-3
        div.connection.page-footer__connection
          p.connection__tel +7 (499) 256-57-04
          div.connection__socials
            include ../modules/b-socials.pug

//- TODO: добавить ссылку на WayToStart, font-size: 9px, text-transform: uppercase
