mixin partners__item(parnterImageName, partnerName)
  li.partners__item
    img.partners__logo(src='img/partners-' + parnterImageName + '.png' alt=partnerName)

mixin partners(listSize, heading)
  section.partners(class='partners--' + listSize)
    div.partners__inner.aligner
      h2.partners__heading= heading
        ul.partners__list
          block
