@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Arial";
  font-display: swap;

  src: local("Arial Regular"),
    local("Arial-Regular"),
    url("../fonts/arial-regular.woff2") format("woff2"),
    url("../fonts/arial-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Arial";
  font-display: swap;

  src: local("Arial Bold"),
    local("Arial-Bold"),
    url("../fonts/arial-bold.woff2") format("woff2"),
    url("../fonts/arial-bold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald";
  font-display: swap;

  src: local("Oswald"),
    url("../fonts/oswald-regular.woff2"),
    url("../fonts/oswald-regular.woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu Condensed";
  font-display: swap;

  src: local("Ubuntu Condensed"),
    url("../fonts/ubuntucondensed-regular.woff2"),
    url("../fonts/ubuntucondensed-regular.woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans Narrow";
  font-display: swap;

  src: local("PT Sans Narrow"),
    url("../fonts/pt_sans-narrow-web-regular.woff2"),
    url("../fonts/pt_sans-narrow-web-regular.woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto Condensed";
  font-display: swap;

  src: local("Roboto Condensed"),
    url("../fonts/robotocondensed-regular.woff2"),
    url("../fonts/robotocondensed-regular.woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Fira Sans Condensed";
  font-display: swap;

  src: local("Fira Sans Condensed"),
    url("../fonts/firasanscondensed-regular.woff2"),
    url("../fonts/firasanscondensed-regular.woff");
}
