@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Arial";
  font-display: swap;

  src: local("Arial Regular"),
    local("Arial-Regular"),
    url("../fonts/arial-regular.woff2") format("woff2"),
    url("../fonts/arial-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Arial";
  font-display: swap;

  src: local("Arial Bold"),
    local("Arial-Bold"),
    url("../fonts/arial-bold.woff2") format("woff2"),
    url("../fonts/arial-bold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans Narrow";
  font-display: swap;

  src: local("PT Sans Narrow"),
    url("../fonts/pt_sans-narrow-web-regular.woff2"),
    url("../fonts/pt_sans-narrow-web-regular.woff");
}
