@mixin font($fw: 400, $fs: 18px, $lh: 30px) {
  font-weight: $fw;
  font-family: "Arial", sans-serif;
  font-size: $fs;
  line-height: $lh;
}

@mixin margin-hor($mh: auto) {
  margin-left: $mh;
  margin-right: $mh;
}

@mixin padding-hor($ph: 15px) {
  margin-left: $ph;
  margin-right: $ph;
}
