@mixin font($fw: 400, $fs: 18px, $lh: 30px) {
  font-weight: $fw;
  font-family: "Arial", sans-serif;
  font-size: $fs;
  line-height: $lh;
}

@mixin margin-ver($mv: auto) {
  margin-top: $mv;
  margin-bottom: $mv;
}

@mixin margin-hor($mh: auto) {
  margin-left: $mh;
  margin-right: $mh;
}

@mixin padding-ver($pv: 10px) {
  padding-top: $pv;
  padding-bottom: $pv;
}

@mixin padding-hor($ph: 10px) {
  padding-left: $ph;
  padding-right: $ph;
}

