section(class="advantages page-main__advantages")
  div(class="advantages__inner aligner")
    h2(class="advantages__heading") Преимущества
    ul(class="advantages__list")
      li(class="advangates__item")
        h3(class="advangates__caption") Опыт
        p(class="advangates__description") Лидирующая звуковая компания России с 1990 года
      li(class="advangates__item")
        h3(class="advangates__caption") Профессионализм
        p(class="advangates__description") Лучшие инженеры. Внутренняя система обучения и повышения квалификации технического персонала
      li(class="advangates__item")
        h3(class="advangates__caption") Качество
        p(class="advangates__description") Современное оборудование от компаний-лидеров мирового рынка (L-Acoustics, Yamaha, <span class="advantages__string">Shure</span>)
      li(class="advangates__item")
        h3(class="advangates__caption") Надежность
        p(class="advangates__description") Выполняем райдер любого артиста (от российской сцены до мировой звезды)
