section(class="advantages")
  div(class="advantages__inner aligner")
    h2(class="advantages__heading") Преимущества
    ul(class="advantages__list")
      li(class="advantages__item")
        h3(class="advantages__caption") Опыт
        p(class="advantages__description") Лидирующая звуковая компания России с 1990 года
      li(class="advantages__item")
        h3(class="advantages__caption") Профессионализм
        p(class="advantages__description") Лучшие инженеры. Внутренняя система обучения и повышения квалификации технического персонала
      li(class="advantages__item")
        h3(class="advantages__caption") Качество
        p(class="advantages__description") Современное оборудование от компаний-лидеров мирового рынка (L-Acoustics, Yamaha, <span class="advantages__string">Shure</span>)
      li(class="advantages__item")
        h3(class="advantages__caption") Надежность
        p(class="advantages__description") Выполняем райдер любого артиста (от российской сцены до мировой звезды)
