section(class="catalog  page-main__catalog")
  div(class="catalog__inner aligner")
    h2(class="visually-hidden") Каталог доступного оборудования
    ul(class="catalog__volume-list")
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Акустические системы линейного массива
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Активные акустические системы
        include e-catalog-group__list.pug
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Пассивные акустические системы
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Мониторы сценические
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Усилители
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Цифровые микшерные пульты
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Аналоговые микшерные пульты
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Радиосистемы
      li(class="catalog-group catalog__volume")
        h3(class="catalog-group__caption") Системы мониторинга In-Ear
