+catalog-card__name('Частотный диапазон (-10 дБ)')
+catalog-card__value('55 Гц – 22 кГц<br>(заводская предустановка [FRONT])')
+catalog-card__name('Номинальная направленность (-6 дБ)')
+catalog-card__value('90° осесимметричная')
+catalog-card__name('Максимальный уровень звукового давления (SPL) 10 дБ, 1 м')
+catalog-card__value('125 дБ – [FILL]<br>заводская предустановка')
+catalog-card__name('Компоненты')
+catalog-card__value('НЧ: 1 х 8” влагостойкий динамик')
+catalog-card__value('ВЧ: 1 x1" диафрагма (компрессионный драйвер)')
+catalog-card__value('Номинальное сопротивление: 8 Ом')
+catalog-card__name('Электрические характеристики')
+catalog-card__value('Входной разъем: симметричный, макс. вх. уровень +12 дБu<br>(потенциометр чувствительности в позиции 0 дБ)')
+catalog-card__value('Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц')
+catalog-card__value('Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)')
+catalog-card__name('Вес')
+catalog-card__value('12,8 кг')
+catalog-card__name('Подключение')
+catalog-card__value('2 x XLR, 2 x PowerCon (входной, параллельный)')
