mixin catalog__volume(catalogGroupCaption)
  li.catalog__volume-item
    h3.catalog__volume-caption= catalogGroupCaption
    div.catalog__volume-content

section.catalog
  div.catalog__inner.aligner
    h2.visually-hidden
    ul.catalog__volume-list
      +catalog__volume('Акустические системы линейного массива')
      +catalog__volume('Активные акустические системы')
        include e-catalog-group__list.pug
      +catalog__volume('Пассивные акустические системы')
      +catalog__volume('Мониторы сценические')
      +catalog__volume('Усилители')
      +catalog__volume('Цифровые микшерные пульты')
      +catalog__volume('Аналоговые микшерные пульты')
      +catalog__volume('Радиосистемы')
      +catalog__volume('Системы мониторинга In-Ear')

//- TODO: подумать над границами BEM-блоков
