section(class="contacts page-main__contacts")
  div(class="contacts__inner aligner")
    h2(class="visually-hidden") Контактная информация
    div(class="contacts__layout")
      div(class="contacts__column-1")
        div.contacts__address
          include b-address.pug
        ul(class="contacts__tels")
          li(class="contacts__tel") +7(499)256-57-04
          li(class="contacts__tel") +7(499)256-85-40
          li(class="contacts__tel") +7(499)256-62-98
        div(class="contacts__socials")
          include b-socials.pug
      div(class="contacts__column-2")
        div(class="contacts__map" id="map")
