section(class="directions page-main__directions")
  div(class="directions__inner aligner")
    h2(class="directions__heading") Основные направления
    div(class="project-cards directions__content")
      include e-project-cards__list.pug
