section(class="history page-main__history")
  div(class="history__inner aligner")
    h2(class="visually-hidden") История компании

    div(class="history__slider-controls")

    div(class="history__slider")
      ul(class="history__list")
        li(class="history__item")
          p(class="history__content") История компании: 2018 год
        li(class="history__item")
          p(class="history__content") История компании: 2016 год
        li(class="history__item history__item--current")
          p(class="history__content") Компания была основана в Москве в 1990 году в ДК Московского Авиационного Института. С самого начала компания работала в нескольких направлениях звукового рынка: стадионные концерты «рок-н-ролльщиков» (ДДТ, Наутилус, Аквариум), эстрада (Алла Пугачева, Лайма Вайкуле, Валерий Леонтьев, Олег Газманов), дискотеки и элитные ночные клубы (Арлекино, Пентхаус).
        li(class="history__item")
          p(class="history__content") История компании: 2012 год
        li(class="history__item")
          p(class="history__content") История компании: 2010 год
