nav(class="main-navigation main-navigation--header")
  ul(class="main-navigation__list")
    li(class="main-navigation__item")
      a(class="main-navigation__link" href="index.html") Главная
    li(class="main-navigation__item")
      a(class="main-navigation__link" href="about.html") О компании
    li(class="main-navigation__item")
      a(class="main-navigation__link" href="projects.html") Проекты
    li(class="main-navigation__item")
      a(class="main-navigation__link" href="team.html") Команда
    li(class="main-navigation__item")
      a(class="main-navigation__link" href="equipment.html") Оборудование
    li(class="main-navigation__item")
      a(class="main-navigation__link" href="partners.html") Клиенты/Партнеры
    li(class="main-navigation__item")
      a(class="main-navigation__link" href="contacts.html") Контакты
