div(class="menu-controls")
  button(class="menu-controls__button menu-controls__button--open is-visible")
    span(class="visually-hidden") Показать главное меню
  button(class="menu-controls__button menu-controls__button--close")
    span(class="visually-hidden") Скрыть главное меню
