header.page-header.page__header
  div.page-header__inner.aligner
    div.page-header__menu-controls
      include b-menu-controls.pug
    div.page-header__logo
      +logo('header')
    div.page-header__navigation
      include b-main-navigation--header.pug
    div.page-header__connection
      include b-connection.pug
    div.page-header__language-toggle
      include b-language-toggle.pug


