ul(class="partners-list partners-list--complete partners__list")
  li(class="partners-list__item")
    img(class="partners-list__image" src="img/partners-l'acoustics.png" alt="L-Acoustics")
  li(class="partners-list__item")
    img(class="partners-list__image" src="img/partners-yamaha.png" alt="Yamaha")
  li(class="partners-list__item")
    img(class="partners-list__image" src="img/partners-shure.png" alt="SHURE")
  li(class="partners-list__item")
    img(class="partners-list__image" src="img/partners-l'acoustics.png" alt="L-Acoustics")
  li(class="partners-list__item")
    img(class="partners-list__image" src="img/partners-yamaha.png" alt="Yamaha")
  li(class="partners-list__item")
    img(class="partners-list__image" src="img/partners-shure.png" alt="SHURE")
