header(class="page-header page__header")
  div(class="page-header__inner aligner")
      div(class="logo page-header__logo")
        a(class="logo__link" href="#")
          img(class="logo__image" src="img/logo-header.png" alt="Live Sound Agency")
      nav(class="main-navigation page-header__navigation")
        ul(class="main-navigation__list")
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="index.html") Главная
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="about.html") О компании
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="projects.html") Проекты
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="team.html") Команда
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="equipment.html") Оборудование
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="partners.html") Клиенты/Партнеры
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="contacts.html") Контакты
      div(class="connection-widget page-header__connection")
        p(class="connection__tel") +7 (499) 256-57-04
        aside(class="socials connection__socials")
          ul(class="socials__list")
            li(class="socials__item")
              a(class="socials__link" href="#")
               span Instagram
            li(class="socials__item")
              a(class="socials__link" href="#")
                span YouTube
            li(class="socials__item")
              a(class="socials__link" href="#")
                span Facebook
      div(class="language-bar page-header__language-bar")
        a(class="language-bar__button")
