footer.page-footer.page__footer
  div.page-footer__inner.aligner
    div.page-footer__column-1
      div.page-footer__address
        include b-address.pug
      div.page-footer__logo
        +logo('footer')
      p(class="copyright page-footer__copyright") © 2016 <span class="copyright__string">Live-sound agency</span>
    div(class="page-footer__column-2")
      nav(class="main-navigation page-footer__navigation")
        ul(class="main-navigation__list")
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="index.html") Главная
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="about.html") О компании
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="projects.html") Проекты
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="team.html") Команда
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="equipment.html") Оборудование
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="partners.html") Клиенты/Партнеры
          li(class="main-navigation__item")
            a(class="main-navigation__link" href="contacts.html") Контакты
    div(class="page-footer__column-3")
      div.connection.page-footer__connection
        p.connection__tel +7 (499) 256-57-04
        div.connection__socials
          include b-socials.pug

//- TODO: узнать насчёт копирайта
