header(class="page-header page__header")
  div(class="page-header__inner aligner")
    div(class="page-header__menu-controls")
      include b-menu-controls.pug
    div(class="page-header__logo")
      include b-logo--header.pug
    div(class="page-header__navigation")
      include b-main-navigation--header.pug
    div(class="page-header__connection")
      include b-connection.pug
    div(class="page-header__language-toggle")
      include b-language-toggle.pug


