section(class="promo page-main__promo")
  h2(class="promo__heading visually-hidden") Промо-блок
  div(class="promo__slider")
    ul(class="promo__list")
      li(class="promo__item")
        include b-promo-slide--1.pug
      li(class="promo-slide promo__item promo__item--current")
        include b-promo-slide--2.pug
      li(class="promo-slide promo__item")
        include b-promo-slide--3.pug
      li(class="promo-slide promo__item")
        include b-promo-slide--4.pug
  div(class="promo__slider-controls")
    include b-slider-controls.pug
