section(class="promo page-main__promo")
  div(class="promo__inner aligner")
    h2(class="promo__heading visually-hidden") Промо-блок
    div(class="promo__slider")
      ul(class="promo__list")
        li(class="promo-slide promo__item")
          h3(class="promo-slide__title") Профессиональное звуковое оборудование
          p(class="promo-slide__subtitle") Техническое сопровождение мероприятий
          a(class="promo-slide__more-link" href="#")
            span(class="visually-hidden") Читать далее

        li(class="promo-slide promo__item promo__item--current")
          h3(class="promo-slide__title") Текст слайда №2
          p(class="promo-slide__subtitle") Подпись слайда №2
          a(class="promo-slide__more-link" href="#")
            span(class="visually-hidden") Читать далее

        li(class="promo-slide promo__item")
          h3(class="promo-slide__title")  Текст слайда №3
          p(class="promo-slide__subtitle") Подпись слайда №3
          a(class="promo-slide__more-link" href="#")
            span(class="visually-hidden") Читать далее

        li(class="promo-slide promo__item")
          h3(class="promo-slide__title")  Текст слайда №4
          p(class="promo-slide__subtitle") Подпись слайда №4
          a(class="promo-slide__more-link" href="#")
            span(class="visually-hidden") Читать далее

    div(class="slider-controls promo__slider-controls")
      ul(class="slider-controls__list")
       li(class="slider-controls__item")
        button(class="slider-controls__button" type="button")
          span(class="visually-hidden") Слайд №1
       li(class="slider-controls__item")
        button(class="slider-controls__button is-current" type="button")
          span(class="visually-hidden") Слайд №2
       li(class="slider-controls__item")
        button(class="slider-controls__button" type="button")
          span(class="visually-hidden") Слайд №3
       li(class="slider-controls__item")
        button(class="slider-controls__button" type="button")
          span(class="visually-hidden") Слайд №4
