section(class="projects page-main__projects")
  div(class="projects__inner aligner")
    h2(class="projects__heading") Реализованные проекты
    div(class="project-cards projects__content")
      include e-project-cards__list.pug

