div(class="promo-slide promo-slide--1")
  div(class="promo-slide__inner aligner")
    h3(class="promo-slide__title") Профессиональное звуковое оборудование
    p(class="promo-slide__subtitle") Техническое сопровождение мероприятий
    a(class="promo-slide__more-link" href="#")
      span(class="visually-hidden") Читать далее
