mixin slider-controls__item(isCurrent)
  - var currentStateFlag = '';
  if isCurrent
    - var currentStateFlag = 'is-current';
  li.slider-controls__item
    button.slider-controls__button(type='button', class=currentStateFlag)
      span.visually-hidden= 'Слайд №' + n++

div.slider-controls
  ul.slider-controls__list.aligner
    - var n = 1;
    +slider-controls__item
    +slider-controls__item(true)
    +slider-controls__item
    +slider-controls__item
