div(class="slider-controls")
    ul(class="slider-controls__list aligner")
      li(class="slider-controls__item")
        button(class="slider-controls__button" type="button")
          span(class="visually-hidden") Слайд №1
      li(class="slider-controls__item")
        button(class="slider-controls__button is-current" type="button")
          span(class="visually-hidden") Слайд №2
      li(class="slider-controls__item")
        button(class="slider-controls__button" type="button")
          span(class="visually-hidden") Слайд №3
      li(class="slider-controls__item")
        button(class="slider-controls__button" type="button")
          span(class="visually-hidden") Слайд №4
