aside(class="socials")
  ul(class="socials__list")
    li(class="socials__item")
      a(class="socials__link socials__link--instagram" href="#")
        span(class="visually-hidden") Instagram
    li(class="socials__item")
      a(class="socials__link socials__link--youtube" href="#")
        span(class="visually-hidden") YouTube
    li(class="socials__item")
      a(class="socials__link socials__link--facebook" href="#")
        span(class="visually-hidden") Facebook
