section(class="team-gallery page-main__team-gallery")
  div(class="team-gallery__inner aligner")
    h2(class="visually-hidden") Фотографии наших сотрудников
    ul(class="team-gallery__list")
      li(class="team-gallery__item")
        img(class="team-gallery__photo team-gallery__photo--1" src="team-photo-1.jpg" alt="Наша команда, фото 1")
      li(class="team-gallery__item")
        img(class="team-gallery__photo team-gallery__photo--1" src="team-photo-2.jpg" alt="Наша команда, фото 2")
      li(class="team-gallery__item")
        img(class="team-gallery__photo team-gallery__photo--1" src="team-photo-3.jpg" alt="Наша команда, фото 3")
      li(class="team-gallery__item")
        img(class="team-gallery__photo team-gallery__photo--1" src="team-photo-4.jpg" alt="Наша команда, фото 4")
      li(class="team-gallery__item")
        img(class="team-gallery__photo team-gallery__photo--1" src="team-photo-5.jpg" alt="Наша команда, фото 5")
      li(class="team-gallery__item")
        img(class="team-gallery__photo team-gallery__photo--1" src="team-photo-6.jpg" alt="Наша команда, фото 6")
