section(class="about page-main__about")
  div(class="about__inner aligner")
    h2(class="about__heading")
    div(class="about__layout")
      div(class="about__column-1")
        a(class="about__video-link")
         img(class="about__image" src="img/about-video.jpg" alt="Видео о нашей компании")
      div(class="about__column-2")
        p(class="about__description") Live Sound Agency одна из немногих компаний, которые стояли у истоков создания современного «звукового» бизнеса в России. За 25-летнюю историю мы никогда не отказывались от самой сложной и ответственной работы.
        p(class="about__description") Год за годом набирали бесценный практический опыт, соверш енствовали технологии, обучали персонал. И сегодня у нас есть, что предложить Вам.
        p(class="about__description") Это крупнейший звукоусилительный комплекс в России, самый широкий выбор современного высокотехнологичного оборудования, профессиональный персонал. А самое главное — хороший звук на вашем мероприятии.
        a(class="about__more-link" href="#") Узнать больше
