section(class="directions page-main__directions")
  div(class="directions__inner aligner")
    h2(class="directions__heading") Основные направления
    ul(Class="directions__list")
      li(class="directions__item")
        a(class="directions__link")
          img(class="directions__image directions__image--1" src="img/direction-1.jpg" alt="Концерты")
          h3(class="directions__caption")
            span(class="directions__caption-text") Концерты
      li(class="directions__item")
        a(class="directions__link")
          img(class="directions__image directions__image--2" src="img/direction-2.jpg" alt="Телепроекты")
          h3(class="directions__caption")
            span(class="directions__caption-text") Телепроекты
      li(class="directions__item")
        a(class="directions__link")
          img(class="directions__image directions__image--3" src="img/direction-3.jpg" alt="Фестивали")
          h3(class="directions__caption")
            span(class="directions__caption-text") Фестивали
      li(class="directions__item")
        a(class="directions__link")
          img(class="directions__image  directions__image--4" src="img/direction-4.jpg" alt="Официальные мероприятия")
          h3(class="directions__caption")
            span(class="directions__caption-text") Официальные мероприятия
      li(class="directions__item")
        a(class="directions__link")
          img(class="directions__image directions__image--5" src="img/direction-5.jpg" alt="Спортивные мероприятия")
          h3(class="directions__caption")
            span(class="directions__caption-text") Спортивные мероприятия
      li(class="directions__item")
        a(class="directions__link")
          img(class="directions__image directions__image--6" src="img/direction-6.jpg" alt="Корпоративные мероприятия")
          h3(class="directions__caption")
            span(class="directions__caption-text") Корпоративные мероприятия
