ul(class="catalog-group__list")
  li(class="catalog-item catalog-group__item")
    div(class="catalog-item__column-1")
      img(class="catalog-item__image" src="img/catalog-item-1.png" alt="Активная акустическая система №1")
    div(class="catalog-item__column-2")
      h4(class="catalog-item__title") L-acoustics 108P
      dl(class="catalog-item__list")
        dt(class="catalog-item__name") Частотный диапазон (-10 дБ)
        dd(class="catalog-item__value") 55 Гц – 22 кГц<br>(заводская предустановка [FRONT])
        dt(class="catalog-item__name") Номинальная направленность (-6 дБ)
        dd(class="catalog-item__value") 90° осесимметричная
        dt(class="catalog-item__name") Максимальный уровень звукового давления (SPL) 10 дБ, 1 м
        dd(class="catalog-item__value") 125 дБ – [FILL]<br>заводская предустановка
        dt(class="catalog-item__name") Компоненты
        dd(class="catalog-item__value") НЧ: 1 х 8” влагостойкий динамик
        dd(class="catalog-item__value") ВЧ: 1 x1" диафрагма (компрессионный драйвер)
        dd(class="catalog-item__value") Номинальное сопротивление: 8 Ом
        dt(class="catalog-item__name") Электрические характеристики
        dd(class="catalog-item__value") Входной разъем: симметричный, макс. вх. уровень +12 дБu<br>(потенциометр чувствительности в позиции 0 дБ)
        dd(class="catalog-item__value") Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц
        dd(class="catalog-item__value") Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)
        dt(class="catalog-item__name") Вес
        dd(class="catalog-item__value") 12,8 кг
        dt(class="catalog-item__name") Подключение
        dd(class="catalog-item__value") 2 x XLR, 2 x PowerCon (входной, параллельный)

  li(class="catalog-item catalog-group__item")
    div(class="catalog-item__column-1")
      img(class="catalog-item__image" src="img/catalog-item-2.png" alt="Активная акустическая система №2")
    div(class="catalog-item__column-2")
      h4(class="catalog-item__title") Meyer Sound UPA 1P
      dl(class="catalog-item__list")
        dt(class="catalog-item__name") Частотный диапазон (-10 дБ)
        dd(class="catalog-item__value") 55 Гц – 22 кГц<br>(заводская предустановка [FRONT])
        dt(class="catalog-item__name") Номинальная направленность (-6 дБ)
        dd(class="catalog-item__value") 90° осесимметричная
        dt(class="catalog-item__name") Максимальный уровень звукового давления (SPL) 10 дБ, 1 м
        dd(class="catalog-item__value") 125 дБ – [FILL]<br>заводская предустановка
        dt(class="catalog-item__name") Компоненты
        dd(class="catalog-item__value") НЧ: 1 х 8” влагостойкий динамик
        dd(class="catalog-item__value") ВЧ: 1 x1" диафрагма (компрессионный драйвер)
        dd(class="catalog-item__value") Номинальное сопротивление: 8 Ом
        dt(class="catalog-item__name") Электрические характеристики
        dd(class="catalog-item__value") Входной разъем: симметричный, макс. вх. уровень +12 дБu<br>(потенциометр чувствительности в позиции 0 дБ)
        dd(class="catalog-item__value") Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц
        dd(class="catalog-item__value") Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)
        dt(class="catalog-item__name") Вес
        dd(class="catalog-item__value") 12,8 кг
        dt(class="catalog-item__name") Подключение
        dd(class="catalog-item__value") 2 x XLR, 2 x PowerCon (входной, параллельный)

  li(class="catalog-item catalog-group__item")
    div(class="catalog-item__column-1")
      img(class="catalog-item__image" src="img/catalog-item-3.png" alt="Активная акустическая система №3")
    div(class="catalog-item__column-2")
      h4(class="catalog-item__title") RCF ART 322-A
      dl(class="catalog-item__list")
        dt(class="catalog-item__name") Частотный диапазон (-10 дБ)
        dd(class="catalog-item__value") 55 Гц – 22 кГц<br>(заводская предустановка [FRONT])
        dt(class="catalog-item__name") Номинальная направленность (-6 дБ)
        dd(class="catalog-item__value") 90° осесимметричная
        dt(class="catalog-item__name") Максимальный уровень звукового давления (SPL) 10 дБ, 1 м
        dd(class="catalog-item__value") 125 дБ – [FILL]<br>заводская предустановка
        dt(class="catalog-item__name") Компоненты
        dd(class="catalog-item__value") НЧ: 1 х 8” влагостойкий динамик
        dd(class="catalog-item__value") ВЧ: 1 x1" диафрагма (компрессионный драйвер)
        dd(class="catalog-item__value") Номинальное сопротивление: 8 Ом
        dt(class="catalog-item__name") Электрические характеристики
        dd(class="catalog-item__value") Входной разъем: симметричный, макс. вх. уровень +12 дБu<br>(потенциометр чувствительности в позиции 0 дБ)
        dd(class="catalog-item__value") Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц
        dd(class="catalog-item__value") Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)
        dt(class="catalog-item__name") Вес
        dd(class="catalog-item__value") 12,8 кг
        dt(class="catalog-item__name") Подключение
        dd(class="catalog-item__value") 2 x XLR, 2 x PowerCon (входной, параллельный)
