ul(class="partners__list")
  li(class="partners__item")
    img(class="partners__image" src="img/partners-l'acoustics.png" alt="L'Aacoustics")
  li(class="partners__item")
    img(class="partners__image" src="img/partners-yamaha.png" alt="Yamaha")
  li(class="partners__item")
    img(class="partners__image" src="img/partners-shure.png" alt="SHURE")
  li(class="partners__item")
    img(class="partners__image" src="img/partners-l'acoustics.png" alt="L'Aacoustics")
  li(class="partners__item")
    img(class="partners__image" src="img/partners-yamaha.png" alt="Yamaha")
  li(class="partners__item")
    img(class="partners__image" src="img/partners-shure.png" alt="SHURE")
