ul(class="project-cards__list")
  li(class="project-card project-cards__item")
    a(class="project-card__link")
      img(class="project-card__image project-card__image--1" src="img/direction-1.jpg" alt="Концерты")
      h3(class="project-card__caption")
        span(class="project-card__caption-text") Концерты
  li(class="project-card project-cards__item")
    a(class="project-card__link")
      img(class="project-card__image project-card__image--2" src="img/direction-2.jpg" alt="Телепроекты")
      h3(class="project-card__caption")
        span(class="project-card__caption-text") Телепроекты
  li(class="project-card project-cards__item")
    a(class="project-card__link")
      img(class="project-card__image project-card__image--3" src="img/direction-3.jpg" alt="Фестивали")
      h3(class="project-card__caption")
        span(class="project-card__caption-text") Фестивали
  li(class="project-card project-cards__item")
    a(class="project-card__link")
      img(class="project-card__image  project-card__image--4" src="img/direction-4.jpg" alt="Официальные мероприятия")
      h3(class="project-card__caption")
        span(class="project-card__caption-text") Официальные мероприятия
  li(class="project-card project-cards__item")
    a(class="project-card__link")
      img(class="project-card__image project-card__image--5" src="img/direction-5.jpg" alt="Спортивные мероприятия")
      h3(class="project-card__caption")
        span(class="project-card__caption-text") Спортивные мероприятия
  li(class="project-card project-cards__item")
    a(class="project-card__link")
      img(class="project-card__image project-card__image--6" src="img/direction-6.jpg" alt="Корпоративные мероприятия")
      h3(class="project-card__caption")
        span(class="project-card__caption-text") Корпоративные мероприятия
