mixin about()
  section.about
    div.about__inner.aligner
      h2.about__heading О компании
      div.about__layout
        div.about__column-1
          a.about__video-link(href="#")
            picture
              source(media=viewportLargeMinWidth srcset='img/about-video-laptop.png')
              img.about__image(src="img/about-video-mobile.png" alt="Видео о нашей компании")
        div.about__column-2
          p.about__description Live Sound Agency одна из немногих компаний, которые стояли у истоков создания современного «звукового» бизнеса в России. За 25-летнюю историю мы никогда не отказывались от самой сложной и ответственной работы.
          p.about__description Год за годом набирали бесценный практический опыт, совершенствовали технологии, обучали персонал. И сегодня у нас есть, что предложить Вам.
          p.about__description Это крупнейший звукоусилительный комплекс в России, самый широкий выбор современного высокотехнологичного оборудования, профессиональный персонал. А самое главное — хороший звук на вашем мероприятии.
          a.about__more-link(href="#") Узнать больше
