mixin acknowledgements()
  section.acknowledgements
    div.acknowledgements__inner.aligner
      h2.acknowledgements__heading Наши благодарности
      div.acknowledgements__slider
        //- TODO: добавить компонент через jQuery
