mixin advantages()
  -
    const ADVANTAGES_ITEMS = [
      ['Опыт', 'Лидирующая звуковая компания России с 1990 года'],
      [
        'Профессионализм',
        'Лучшие инженеры. Внутренняя система обучения и повышения квалификации технического персонала',
      ],
      [
        'Качество',
        'Современное оборудование от компаний-лидеров мирового рынка (L-Acoustics, Yamaha, SHURE)',
      ],
      [
        'Надежность',
        'Выполняем райдер любого артиста (от российской сцены до мировой звезды)',
      ],
    ];
  section.advantages
    .advantages__inner.aligner
      h2.advantages__heading.heading Преимущества
      ul.advantages__list
        each item, index in ADVANTAGES_ITEMS
          - const [heading, description] = item;
          li(class=['advantages__item', `advantages__item--${index + 1}`])
            h3.advantages__caption= heading
            p.advantages__description!= description
