mixin catalog()
  section.catalog
    div.catalog__inner.aligner
      h2.visually-hidden
      ul.catalog__list
        mixin catalog__item(catalogGroupCaption)
          li.catalog__item
            h3.catalog__item-caption= catalogGroupCaption
            div.catalog__item-content
              block
        +catalog__item('Акустические системы линейного массива')
        +catalog__item('Активные акустические системы')
          +catalog-volume()
            +catalog-card(1, 'L-acoustics 108P')
              +catalog-card__name('Частотный диапазон (-10 дБ)')
              +catalog-card__value('55 Гц – 22 кГц<br>(заводская предустановка [FRONT])')
              +catalog-card__name('Номинальная направленность (-6 дБ)')
              +catalog-card__value('90° осесимметричная')
              +catalog-card__name('Максимальный уровень звукового давления (SPL) 10 дБ, 1 м')
              +catalog-card__value('125 дБ – [FILL]<br>заводская предустановка')
              +catalog-card__name('Компоненты')
              +catalog-card__value('НЧ: 1 х 8” влагостойкий динамик')
              +catalog-card__value('ВЧ: 1 x1" диафрагма (компрессионный драйвер)')
              +catalog-card__value('Номинальное сопротивление: 8 Ом')
              +catalog-card__name('Электрические характеристики')
              +catalog-card__value('Входной разъем: симметричный, макс. вх. уровень +12 дБu<br>(потенциометр чувствительности в позиции 0 дБ)')
              +catalog-card__value('Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц')
              +catalog-card__value('Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)')
              +catalog-card__name('Вес')
              +catalog-card__value('12,8 кг')
              +catalog-card__name('Подключение')
              +catalog-card__value('2 x XLR, 2 x PowerCon (входной, параллельный)')

            +catalog-card(2, 'Meyer Sound UPA 1P')
              +catalog-card__name('Частотный диапазон (-10 дБ)')
              +catalog-card__value('55 Гц – 22 кГц<br>(заводская предустановка [FRONT])')
              +catalog-card__name('Номинальная направленность (-6 дБ)')
              +catalog-card__value('90° осесимметричная')
              +catalog-card__name('Максимальный уровень звукового давления (SPL) 10 дБ, 1 м')
              +catalog-card__value('125 дБ – [FILL]<br>заводская предустановка')
              +catalog-card__name('Компоненты')
              +catalog-card__value('НЧ: 1 х 8” влагостойкий динамик')
              +catalog-card__value('ВЧ: 1 x1" диафрагма (компрессионный драйвер)')
              +catalog-card__value('Номинальное сопротивление: 8 Ом')
              +catalog-card__name('Электрические характеристики')
              +catalog-card__value('Входной разъем: симметричный, макс. вх. уровень +12 дБu<br>(потенциометр чувствительности в позиции 0 дБ)')
              +catalog-card__value('Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц')
              +catalog-card__value('Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)')
              +catalog-card__name('Вес')
              +catalog-card__value('12,8 кг')
              +catalog-card__name('Подключение')
              +catalog-card__value('2 x XLR, 2 x PowerCon (входной, параллельный)')

            +catalog-card(3, 'RCF ART 322-A')
              +catalog-card__name('Частотный диапазон (-10 дБ)')
              +catalog-card__value('55 Гц – 22 кГц<br>(заводская предустановка [FRONT])')
              +catalog-card__name('Номинальная направленность (-6 дБ)')
              +catalog-card__value('90° осесимметричная')
              +catalog-card__name('Максимальный уровень звукового давления (SPL) 10 дБ, 1 м')
              +catalog-card__value('125 дБ – [FILL]<br>заводская предустановка')
              +catalog-card__name('Компоненты')
              +catalog-card__value('НЧ: 1 х 8” влагостойкий динамик')
              +catalog-card__value('ВЧ: 1 x1" диафрагма (компрессионный драйвер)')
              +catalog-card__value('Номинальное сопротивление: 8 Ом')
              +catalog-card__name('Электрические характеристики')
              +catalog-card__value('Входной разъем: симметричный, макс. вх. уровень +12 дБu<br>(потенциометр чувствительности в позиции 0 дБ)')
              +catalog-card__value('Цифровой сигнальный процессор (DSP):<br>дискретизация 24 бита / 48 кГц')
              +catalog-card__value('Выходная мощность усилителя 1 x 500 Вт (4 Ом – НЧ секция),<br>1 x 250 Вт (8 Ом – ВЧ секция)')
              +catalog-card__name('Вес')
              +catalog-card__value('12,8 кг')
              +catalog-card__name('Подключение')
              +catalog-card__value('2 x XLR, 2 x PowerCon (входной, параллельный)')

        +catalog__item('Пассивные акустические системы')
        +catalog__item('Мониторы сценические')
        +catalog__item('Усилители')
        +catalog__item('Цифровые микшерные пульты')
        +catalog__item('Аналоговые микшерные пульты')
        +catalog__item('Радиосистемы')
        +catalog__item('Системы мониторинга In-Ear')
