mixin catalog()
  section.catalog
    div.catalog__inner.aligner
      h2.visually-hidden
      ul.catalog__list
        mixin catalog__item(catalogGroupCaption, activeIndicator)
          - var activeClass = '';
          if activeIndicator
            - var activeClass = 'is-active';
          li.catalog__item(class=activeClass)
            h3.catalog__item-caption(tabindex="0")= catalogGroupCaption
            div.catalog__item-content
              block
        +catalog__item('Акустические системы линейного массива')
        +catalog__item('Активные акустические системы', 'active')
          +catalog-volume()
        +catalog__item('Пассивные акустические системы')
        +catalog__item('Мониторы сценические')
        +catalog__item('Усилители')
        +catalog__item('Цифровые микшерные пульты')
        +catalog__item('Аналоговые микшерные пульты')
        +catalog__item('Радиосистемы')
        +catalog__item('Системы мониторинга In-Ear')
