mixin catalog()
  section.catalog
    div.catalog__inner.aligner
      h2.visually-hidden
      ul.catalog__list
        mixin catalog__item(catalogGroupCaption)
          li.catalog__item
            h3.catalog__item-caption= catalogGroupCaption
            div.catalog__item-content
              block
        +catalog__item('Акустические системы линейного массива')
        +catalog__item('Активные акустические системы')
          +catalog-volume()
            +catalog-card(1, 'L-acoustics 108P')
            +catalog-card(2, 'Meyer Sound UPA 1P')
            +catalog-card(3, 'RCF ART 322-A')
        +catalog__item('Пассивные акустические системы')
        +catalog__item('Мониторы сценические')
        +catalog__item('Усилители')
        +catalog__item('Цифровые микшерные пульты')
        +catalog__item('Аналоговые микшерные пульты')
        +catalog__item('Радиосистемы')
        +catalog__item('Системы мониторинга In-Ear')
