mixin directions()
  section.directions
    div.directions__inner.aligner
      h2.directions__heading Основные направления
      div.directions__content
        include m-project-cards.pug
        +project-cards()
