mixin experience()
  section.experience
    div.experience__inner.aligner
      h2.visually-hidden Опыт наших сотрудников
      p.experience__paragraph Говоря о хорошем звуке, мы прежде всего говорим о людях. Купить большой комплекс оборудования последнего поколения – не сложно. Важно, кто его эксплуатирует, кто делает акустические расчеты. За почти 20 лет работы мы прекрасно узнали, что самая важная часть производства качественного звука – это команда.
      p.experience__paragraph Поэтому наш капитал – это, прежде всего, люди. Мы непрерывно обучаем и переобучаем наш штат последним звуковым технологиям, потому что знаем: оборудование бесполезно без правильно обученного персонала. За годы работы наша компания,стала школой для многих специалистов.
      p.experience__paragraph Некоторые из них сейчас успешно управляют собственными компаниями, работают с ведущими артистами и в крупнейших звуковых компаниях мира. Live-Sound Agency имеет самую опытную команду менеджеров и звукоинженеров в России. Они одни из лучших экспертов в области Живого Звука, они прошли "огонь, воду и медные трубы", все перипетии, которые может принести эта деятельность.
