mixin history()
  section.history
    div.history__inner.js-slide-3
      h2.visually-hidden История компании
      div.history__slider-controls
        button.history__control-button.history__control-button--previous(type='button')
          span.visually-hidden Предыдущий слайд
        button.history__control-button.history__control-button--next(type='button')
          span.visually-hidden Следующий слайд
        div.history__date-slider
          ul.history__date-list
            mixin history__date-item(itemNumber, year, activityClass)
              li.history__date-item
                button.history__date-button(class='history__date-button--' + itemNumber type='button')
                  span.button-fix= year
            +history__date-item(1, '2010')
            +history__date-item(2, '2012')
            +history__date-item(3, '2014')
            +history__date-item(4, '2016')
            +history__date-item(5, '2018')
      div.history__slider
        ul.history__list
          mixin history__item(paragraphText)
            li.history__item
              p.history__content= paragraphText
          +history__item('История компании: 2010 год')
          +history__item('История компании: 2012 год')
          +history__item(
            'Компания была основана в Москве в 1990 году в ДК Московского Авиационного Института. С самого начала компания работала в нескольких направлениях звукового рынка: стадионные концерты «рок-н-ролльщиков» (ДДТ, Наутилус, Аквариум), эстрада (Алла Пугачева, Лайма Вайкуле, Валерий Леонтьев, Олег Газманов), дискотеки и элитные ночные клубы (Арлекино, Пентхаус).',
            true
          )
          +history__item('История компании: 2016 год')
          +history__item('История компании: 2018 год')
