mixin language-toggle()
  div.language-toggle
    a.language-toggle__link.language-toggle__link--russian.is-checked(
      href="#"
    ) RU
      span.visually-hidden Переключиться на русскую версию
    a.language-toggle__link.language-toggle__link--english(href="#") EN
      span.visually-hidden Переключиться на английскую версию
