mixin logo(logoPosition, pageName)
  div(class=['logo', `logo--${logoPosition}`])
    a.logo__link(href=(pageName === 'index' ? null : 'index.html'))
      img.logo__image(
        src=`img/logo-${logoPosition}.png`,
        alt='Live Sound Agency',
      )
