mixin menu-controls()
  div.menu-controls
    button.menu-controls__button.menu-controls__button--open.is-visible
      span.visually-hidden Показать главное меню
    button.menu-controls__button.menu-controls__button--close
      span.visually-hidden Скрыть главное меню
