mixin mission()
  section.mission
    div.mission__inner.aligner
      h2.mission__heading Миссия и видение
      p.mission__paragraph В организации мероприятия каждый хочет чего-то своего. Звукорежиссер хочет получить лучшее оборудование, продакшн-менеджер хочет, чтобы это оборудование было вовремя смонтировано и находилось в идеальном рабочем состоянии, заказчик хочет все выше перечисленное и за разумные деньги.
      p.mission__paragraph За прошедшие годы мы работали, пожалуй, со всеми крупными коллективами и исполнителями, объехали всю страну, и не только нашу.
      p.mission__paragraph И мы знаем, как оправдать самые высокие надежды. Независимо от того, какое мероприятие Вы организуете, мы спроектируем лучшую, самую рентабельную звуковую систему, смонтируем ее и обеспечим ее качественную работу столько, сколько Вам понадобится.
      p.mission__paragraph Наша философия – сделать все, что нужно для Вашего успеха. Наша цель в том, чтобы каждый был доволен: на сцене, за сценой и самое главное – перед сценой.
