mixin modal()
  .modal
    .modal__container
      ul.modal__list
        mixin modal__item(itemNumber)
          li.modal__item(class=`modal__item--${itemNumber}`)
            img.modal__image(
              class=`modal__image--${itemNumber}`
              src=''
              alt=`Благодарность №${itemNumber}`
            )
        - var i = 1;
        while i <= 7
          +modal__item(i)
          - i++;
