mixin page-header(pageName)
  header.page-header
    .page-header__inner.aligner
      .page-header__menu-controls
        +menu-controls()
      .page-header__logo
        +logo('header', pageName)
      .page-header__navigation
        +main-navigation(pageName, 'header')
      .page-header__socials
        +socials('connection--header')
      .page-header__language-toggle
        +language-toggle()
