mixin page-footer(pageName)
  footer.page-footer
    .page-footer__inner.aligner
      .page-footer__column-1
        .page-footer__address
          +address('footer')
        .page-footer__logo
          +logo('footer', pageName)
        .page-footer__copyright
          +copyright()
      .page-footer__column-2
        .page-footer__navigation
          +main-navigation(pageName, 'footer')
      .page-footer__column-3
        .page-footer__connection
          a.page-footer__tel(href="tel:+74992565704") +7 (499) 256-57-04
          .page-footer__socials
            +socials({
              modifier: ''
            })
      .page-footer__creator
        +creator()
