mixin page-footer(pageName)
  footer.page-footer
    div.page-footer__inner.aligner
      div.page-footer__column-1
        div.page-footer__address
          +address('footer')
        div.page-footer__logo
          +logo('footer', pageName)
        div.page-footer__copyright
          +copyright()
      div.page-footer__column-2
        div.page-footer__navigation
          +main-navigation(pageName, 'footer')
      div.page-footer__column-3
        div.page-footer__connection
          +connection('connection--footer')
      div.page-footer__creator
        +creator()
