mixin promo()
  section.promo
    h2.visually-hidden Промо-блок
    div.promo__slider
      ul.promo__list.js-slide-2
        mixin promo__item(promoItemNumber, promoSlideTitle, promoSlideSubitle)
          li.promo__item
            +promo-slide(promoItemNumber, promoSlideTitle, promoSlideSubitle)
        +promo__item(1, 'Текст слайда №1', 'Подпись слайда №1')
        +promo__item(2, 'Профессиональное звуковое оборудование', 'Техническое сопровождение мероприятий')
        +promo__item(3, 'Текст слайда №3', 'Высота блока слайдера равна высоте самого высокого из слайдов.')
        +promo__item(4, 'Текст слайда №4', 'В этом случае не будет скачков блока слайдера по высоте при смене слайдов.')
    div(class="promo__slider-controls")
      +slider-controls()
