mixin promo-slide(promoSlideNumber, promoSlideTitle, promoSlideSubitle)
  .promo-slide(class=`promo-slide--${promoSlideNumber}`)
    if promoSlideNumber === 2
      .promo-slide__video-wrapper
        video.promo-slide__video(autoplay)
          source(src='../video/test-video.mp4', type='video/mp4')
    .promo-slide__inner.aligner
      .promo-slide__content
        h3.promo-slide__title= promoSlideTitle
        p.promo-slide__subtitle= promoSlideSubitle
      a.promo-slide__more-link(href='#')
        span.visually-hidden Узнать подробности
