mixin promo()
  -
    const PROMO_ITEMS = [
      ['Текст слайда №1', 'Подпись слайда №1'],
      ['Профессиональное звуковое оборудование', 'Техническое сопровождение мероприятий'],
      ['Текст слайда №3', 'Высота блока слайдера равна высоте самого высокого из слайдов.'],
      ['Текст слайда №4', 'В этом случае не будет скачков блока слайдера по высоте при смене слайдов.'],
    ];
  section.promo
    h2.visually-hidden Промо-блок
    div.promo__slider
      ul.promo__list.js-slide-1
        each item, index in PROMO_ITEMS
          - const [title, subtitle] = item;
          li.promo__item
            +promo-slide(index + 1, title, subtitle)
    div(class="promo__slider-controls")
      +slider-controls()
