mixin promo()
  section.promo
    h2.visually-hidden Промо-блок
    div.promo__slider
      ul.promo__list
        mixin promo__item(promoItemNumber, promoSlideTitle, promoSlideSubitle)
          li.promo__item(class='promo__item--' + promoItemNumber)
            +promo-slide(promoItemNumber, promoSlideTitle, promoSlideSubitle)
        +promo__item(1, 'Профессиональное звуковое оборудование', 'Техническое сопровождение мероприятий')
        +promo__item(2, 'Текст слайда №2', 'Подпись слайда №2')
        +promo__item(3, 'Текст слайда №3', 'Подпись слайда №3')
        +promo__item(4, 'Текст слайда №4', 'Подпись слайда №4')
    div(class="promo__slider-controls")
      +slider-controls()
