mixin project-cards()
  -
    const PROJECT_CARDS = [
      'Концерты',
      'Телепроекты',
      'Фестивали',
      'Официальные мероприятия',
      'Спортивные мероприятия',
      'Корпоративные мероприятия',
    ];
  ul.project-cards
    each item, index in PROJECT_CARDS
      li(class=['project-cards__item', 'project-cards__item--regular'])
        +project-card(index + 1, item)
      li(class=['project-cards__item', 'project-cards__item--gallery'])
