mixin project-cards()
  ul.project-cards
    mixin project-cards__item(projectCardNumber, projectGroupName)
      li.project-cards__item
        +project-card(projectCardNumber, projectGroupName)
    +project-cards__item(1, 'Концерты')
    +project-cards__item(2, 'Телепроекты')
    +project-cards__item(3, 'Фестивали')
    +project-cards__item(4, 'Официальные мероприятия')
    +project-cards__item(5, 'Спортивные мероприятия')
    +project-cards__item(6, 'Корпоративные мероприятия')
