mixin slider-controls()
  div.slider-controls
    ul.slider-controls__list.aligner
      - var n = 1;
      mixin slider-controls__item(isCurrent)
        - var currentStateFlag = '';
        if isCurrent
          - var currentStateFlag = 'is-current';
        li.slider-controls__item
          button.slider-controls__button(type='button', class='slider-controls__button--' + n, class=currentStateFlag)
            span.visually-hidden= 'Слайд №' + n++
      +slider-controls__item('current')
      +slider-controls__item
      +slider-controls__item
      +slider-controls__item
