mixin socials(socials_options)
  -
    const socialNetworkNames = [
      {'instagram': 'Instargam'},
      {'youtube': 'Youtube'},
      {'facebook': 'Facebook'}
    ];
    let locationClass = '';
  if (socials_options.blockId === 'contacts')
    - locationClass = {class: `socials--${socials_options.blockId}`};
  aside.socials&attributes(locationClass)
    ul.socials__list
      mixin socials__item(socialsItem_options)
        li.socials__item
          a.socials__link(class=`socials__link--${socialsItem_options.modifier}` href='#')
            span.visually-hidden= socialsItem_options.name
      each item in socialNetworkNames
        each value, key in item
          +socials__item({
            modifier: key,
            name: value
          })
