.advantages__list {
  @include list();

  @include media-breakpoint-from(medium) {
    display: flex;
    flex-wrap: wrap;
    margin: -30px -10px;
  }

  @include media-breakpoint-from(large) {
    justify-content: center;
  }

  @include media-breakpoint-from(huge) {
    @include margin-hor();
    width: 1140px;
  }
}
