.advantages__item {
  margin-bottom: 40px;

  &--last {
    margin-bottom: 0;
  }

  @media (min-width: $medium-min-width) {
    @include padding-ver(30px);
    @include padding-hor(10px);
    width: 50%;
    margin-bottom: 0;
  }

  @media (min-width: $large-min-width) {
    width: 255px;
  }

  @media (min-width: $huge-min-width) {
    width: 260px;
  }
}
