.history__date-item {
  display: flex;
  flex-direction: column;
  width: 20%;

  @media (min-width: $medium-min-width) {
    width: calc(100% / 3);
  }

  @media (min-width: $large-min-width) {
    width: 20%;
  }
}
