.history__date-button {
  @include font(400, 48px, 48px);
  display: block;
  padding: 0;
  color: #1d1d1d;
  background-color: transparent;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition: {
    property: font-size, color;
    duration: 0.2s;
  }

  @media (min-width: $medium-min-width) {
    .history__inner.js-slide-1 & {
      &--1 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-2 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-3 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-4 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-5 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }
    }
  }

  @media (min-width: $large-min-width) {
    .history__inner.js-slide-1 & {
      &--1 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--4 {
        @include font(400, 40px, 40px);
        color: rgba(152, 152, 152, 0.42);
      }

      &--5 {
        @include font(400, 35px, 35px);
        color: rgba(152, 152, 152, 0.32);
      }
    }

    .history__inner.js-slide-2 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--5 {
        @include font(400, 40px, 40px);
        color: rgba(152, 152, 152, 0.42);
      }
    }

    .history__inner.js-slide-3 & {
      &--1 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }
    }

    .history__inner.js-slide-4 & {
      &--1 {
        @include font(400, 40px, 40px);
        color: rgba(152, 152, 152, 0.42);
      }

      &--2 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-5 & {
      &--1 {
        @include font(400, 35px, 35px);
        color: rgba(152, 152, 152, 0.32);
      }

      &--2 {
        @include font(400, 40px, 40px);
        color: rgba(152, 152, 152, 0.42);
      }

      &--3 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }
    }
  }

  @media (min-width: $huge-min-width) {
    .history__inner.js-slide-1 & {
      &--1 {
        @include font(400, 75px, 75px);
      }

      &--2 {
        @include font(400, 65px, 65px);
      }

      &--3 {
        @include font(400, 55px, 55px);
      }

      &--4 {
        @include font(400, 45px, 45px);
      }

      &--5 {
        @include font(400, 40px, 40px);
      }
    }

    .history__inner.js-slide-2 & {
      &--1 {
        @include font(400, 65px, 65px);
      }

      &--2 {
        @include font(400, 75px, 75px);
      }

      &--3 {
        @include font(400, 65px, 65px);
      }

      &--4 {
        @include font(400, 55px, 55px);
      }

      &--5 {
        @include font(400, 45px, 45px);
      }
    }

    .history__inner.js-slide-3 & {
      &--1 {
        @include font(400, 55px, 55px);
      }

      &--2 {
        @include font(400, 65px, 65px);
      }

      &--3 {
        @include font(400, 75px, 75px);
      }

      &--4 {
        @include font(400, 65px, 65px);
      }

      &--5 {
        @include font(400, 55px, 55px);
      }
    }

    .history__inner.js-slide-4 & {
      &--1 {
        @include font(400, 45px, 45px);
      }

      &--2 {
        @include font(400, 55px, 55px);
      }

      &--3 {
        @include font(400, 65px, 65px);
      }

      &--4 {
        @include font(400, 75px, 75px);
      }

      &--5 {
        @include font(400, 65px, 65px);
      }
    }

    .history__inner.js-slide-5 & {
      &--1 {
        @include font(400, 40px, 40px);
      }

      &--2 {
        @include font(400, 45px, 45px);
      }

      &--3 {
        @include font(400, 55px, 55px);
      }

      &--4 {
        @include font(400, 65px, 65px);
      }

      &--5 {
        @include font(400, 75px, 75px);
      }
    }
  }
}
