.history__date-button {
  @include font(400, 48px, 48px);
  display: block;
  padding: 0;
  color: #1d1d1d;
  background-color: transparent;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition: {
    property: font-size, color;
    duration: 0.2s;
  }

  @media (min-width: $medium-min-width) {
    @for $slide-number from 1 through 5 {
      .history__inner.js-slide-#{$slide-number} & {
        @for $number from 1 through 5 {
          $font-size: if($number == $slide-number, 65px, 55px);
          $color: if($number == $slide-number, #1d1d1d, #989898);

          &--#{$number} {
            @include font(400, $font-size, 1);
            color: $color;
          }
        }
      }
    }
  }

  @media (min-width: $large-min-width) {
    $history-slides-large: (
      history-slide-1-large: (
        (65px, #1d1d1d),
        (55px, #989898),
        (45px, rgba(152, 152, 152, 0.52)),
        (40px, rgba(152, 152, 152, 0.42)),
        (35px, rgba(152, 152, 152, 0.32)),
      ),
      history-slide-2-large: (
        (55px, #989898),
        (65px, #1d1d1d),
        (55px, #989898),
        (45px, rgba(152, 152, 152, 0.52)),
        (40px, rgba(152, 152, 152, 0.42)),
      ),
      history-slide-3-large: (
        (45px, rgba(152, 152, 152, 0.52)),
        (55px, #989898),
        (65px, #1d1d1d),
        (55px, #989898),
        (45px, rgba(152, 152, 152, 0.52)),
      ),
      history-slide-4-large: (
        (40px, rgba(152, 152, 152, 0.42)),
        (45px, rgba(152, 152, 152, 0.52)),
        (55px, #989898),
        (65px, #1d1d1d),
        (55px, #989898),
      ),
      history-slide-5-large: (
        (35px, rgba(152, 152, 152, 0.32)),
        (40px, rgba(152, 152, 152, 0.42)),
        (45px, rgba(152, 152, 152, 0.52)),
        (55px, #989898),
        (65px, #1d1d1d),
      ),
    );

    .test {
      @debug($history-slides-large);
    }
  }

  // TODO: доработать цикл

  // .history__inner.js-slide-#{index($history-slides-large, $outer-item)} & {
  //   @each $key, $outer-value in $outer-item {
  //     @debug($outer-item);
  //   }
  // }

  @media (min-width: $huge-min-width) {
    .history__inner.js-slide-1 & {
      &--1 {
        @include font(400, 75px, 75px);
      }

      &--2 {
        @include font(400, 65px, 65px);
      }

      &--3 {
        @include font(400, 55px, 55px);
      }

      &--4 {
        @include font(400, 45px, 45px);
      }

      &--5 {
        @include font(400, 40px, 40px);
      }
    }

    .history__inner.js-slide-2 & {
      &--1 {
        @include font(400, 65px, 65px);
      }

      &--2 {
        @include font(400, 75px, 75px);
      }

      &--3 {
        @include font(400, 65px, 65px);
      }

      &--4 {
        @include font(400, 55px, 55px);
      }

      &--5 {
        @include font(400, 45px, 45px);
      }
    }

    .history__inner.js-slide-3 & {
      &--1 {
        @include font(400, 55px, 55px);
      }

      &--2 {
        @include font(400, 65px, 65px);
      }

      &--3 {
        @include font(400, 75px, 75px);
      }

      &--4 {
        @include font(400, 65px, 65px);
      }

      &--5 {
        @include font(400, 55px, 55px);
      }
    }

    .history__inner.js-slide-4 & {
      &--1 {
        @include font(400, 45px, 45px);
      }

      &--2 {
        @include font(400, 55px, 55px);
      }

      &--3 {
        @include font(400, 65px, 65px);
      }

      &--4 {
        @include font(400, 75px, 75px);
      }

      &--5 {
        @include font(400, 65px, 65px);
      }
    }

    .history__inner.js-slide-5 & {
      &--1 {
        @include font(400, 40px, 40px);
      }

      &--2 {
        @include font(400, 45px, 45px);
      }

      &--3 {
        @include font(400, 55px, 55px);
      }

      &--4 {
        @include font(400, 65px, 65px);
      }

      &--5 {
        @include font(400, 75px, 75px);
      }
    }
  }
}
