.promo-slide__subtitle {
  @include margin-ver(0);
  font-weight: 400;
  text-align: center;
  color: white;

  @media (min-width: $medium-min-width) {
    word-spacing: 5px;
  }

  @media (min-width: $large-min-width) {
    padding-left: 20px;
    padding-right: 300px;
    text-align: left;
  }

  @media (min-width: $huge-min-width) {
    padding-left: 328px;
    padding-right: 600px;
  }
}
