.promo-slide__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 1600px;
  padding: calc(var(--page-header-bypass) + 15px) 20px 100px;
  font-size: 22px;
  line-height: 32px;
  font-family: "pt_sans_narrow", "arial", sans-serif;
  color: white;

  @media (min-width: $medium-min-width) {
    max-height: 2460px;
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $large-min-width) {
    @include padding-hor(0);
    font-size: 40px;
    line-height: 60px;
  }

  @media (min-width: $huge-min-width) {
    padding-bottom: 150px;
    font-size: 60px;
    line-height: 72px;
  }
}
