.promo-slide__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $medium-min-width) {
    word-spacing: 10px;
  }

  @media (min-width: $large-min-width) {
    @include padding-hor(20px);
    margin-bottom: 10px;
    text-align: left;
  }

  @media (min-width: $huge-min-width) {
    padding-left: 328px;
    padding-right: 500px;
  }
}
