.promo-slide__subtitle {
  @include margin-ver(0);
  font-weight: 400;
  text-align: center;
  color: white;

  @include media-breakpoint-from(medium) {
    word-spacing: 5px;
  }

  @include media-breakpoint-from(large) {
    padding-left: 20px;
    padding-right: 300px;
    text-align: left;
  }

  @include media-breakpoint-from(huge) {
    padding-left: 328px;
    padding-right: 600px;
  }
}
