.promo-slide__video-wrapper {
  display: none;

  @media (min-width: $large-min-width) {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    min-width: 100%;
    height: 100%;

    &::before {
      @include size(100%, 100%);
      content: "";
      position: absolute;
      background-image: url("../img/promo-slide__video-background.png");
    }
  }
}
