.promo-slide {
  width: 100%;
  background-color: #1a1a2b;
  background-image: url("../img/promo-slide-background-small.jpg");
  background-position: bottom;
  background-repeat: no-repeat;

  &--1 {
    position: relative;
    z-index: 0;
  }

  @media (min-width: $medium-min-width) {
    background-image: url("../img/promo-slide-background-medium.jpg");
  }

  @media (min-width: $large-min-width) {
    background-image: url("../img/promo-slide-background-large.jpg");
  }

  @media (min-width: $huge-min-width) {
    background-image: url("../img/promo-slide-background-huge.jpg");
  }
}
