#{$this}__more-link {
  @include margin-hor();
  display: block;
  width: 75px;
  height: 75px;
  background-image: url("../img/promo-slide-down-arrow.png");
  background-position: 50% calc(50% + 3px);
  background-repeat: no-repeat;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
