#{$this} {
  @mixin set-background-image($media) {
    background-image: url("../img/promo-slide-background-#{$media}.jpg");
  }

  @include set-background-image(small);
  width: 100%;
  background-color: #1a1a2b;
  background-position: bottom;
  background-repeat: no-repeat;

  @each $media in (medium, large, huge,) {
    @include media-breakpoint-from($media) {
      @include set-background-image($media);
    }
  }
}
