extends ../base/_template_html.pug

block page-id
  - const $pageId = 'about';

block page-main
  section(class=setModifiers('page-main__nest', ['history']))
    include ../components/capital/history/_history.pug
  section(class=setModifiers('page-main__nest', ['mission']))
    include ../components/capital/mission/_mission.pug

block page-scripts-distinct
  script(src='js/history.js')
