extends ../base/_template_html.pug

block page-id
  - const $pageId = 'equipment';

block page-main
  div(class=setModifiers('page-main__nest', ['catalog']))
    include ../components/capital/catalog/_catalog.pug

block page-scripts-distinct
  script(src='js/equipment-catalog.js')
