extends ../base/_template_html

block page-id
  - const $pageId = 'index';

block page-main
  h1.visually-hidden Сайт компании Live Sound Agency
  .page-main__promo
    include ../components/capital/promo/_promo
  .page-main__advantages
    include ../components/capital/advantages/_advantages
  .page-main__directions
    +projects('Основные направления')
  .page-main__partners
    +partners(
      'short',
      'Оборудование от компаний-лидеров мирового рынка', 'partners-small-heading'
    )
  .page-main__about
    include ../components/capital/about/_about
  .page-main__partners
    +partners('short', 'Партнеры', '')
