extends ../base/_template_html

block page-id
  - const $pageId = 'index';

block page-main
  h1.visually-hidden Сайт компании Live Sound Agency
  .page-main__promo
    include ../components/capital/promo/_promo
  .page-main__advantages
    include ../components/capital/advantages/_advantages
  .page-main__directions
    +projects()
  div(class=setModifiers('page-main__partners', ['first']))
    +partners()(
      heading='Оборудование от компаний-лидеров мирового рынка',
      special-modifier='partners__small-heading',
    )
  .page-main__about
    include ../components/capital/about/_about
  div(class=setModifiers('page-main__partners', ['last']))
    +partners()(heading='Партнеры')

block page-scripts-distinct
  script(src='js/slick.js')
  script(src='js/promo-slider.js')
  script(src='js/index-section-fadeinup.js')
