extends ../base/_template_html

block page-id
  - const $pageId = 'partners';

block page-main
  .page-main__partners
    +partners()(heading='Наши партнеры')
  .page-main__acknowledgements
    include ../components/capital/acknowledgements/_acknowledgements
  .page-main__partners
    +partners()(heading='Нам доверяют')

block page-scripts-distinct
  script(src='js/acknowledgements-slider.js')
  script(src='js/modal.js')
