extends ../base/_template_html

block page-id
  - const $pageId = 'partners';

block page-main
  .page-main__partners
    +partners('long', 'Наши партнеры', '')
  .page-main__acknowledgements
    include ../components/capital/acknowledgements/_acknowledgements
  .page-main__partners
    +partners('long', 'Нам доверяют', '')
