extends ../base/_template_html.pug

block page-id
  - const $pageId = 'projects';

block page-main
  section(class=setModifiers('page-main__nest', ['projects']))
    +projects()
  section(class=setModifiers('page-main__nest', ['supremacy']))
    include ../components/capital/supremacy/_supremacy.pug
