extends ../base/_template_html

block page-id
  - const $pageId = 'projects';

block page-main
  .page-main__projects
    +projects('Реализованные проекты')
  .page-main__supremacy
    include ../components/capital/supremacy/_supremacy
