extends ../base/_template_html.pug

block page-id
  - const $pageId = 'projects';

block page-main
  section.page-main__projects
    +projects()
  section.page-main__supremacy
    include ../components/capital/supremacy/_supremacy.pug
