extends ../base/_template_html.pug

block page-id
  - const $pageId = 'team';

block page-main
  section.page-main__experience
    include ../components/capital/experience/_experience.pug
  section.page-main__team-gallery
    include ../components/capital/team-gallery/_team-gallery.pug
