extends ../base/_template_html.pug

block page-id
  - const $pageId = 'team';

block page-main
  section(class=setModifiers('page-main__nest', ['experience']))
    include ../components/capital/experience/_experience.pug
  section(class=setModifiers('page-main__nest', ['team-gallery']))
    include ../components/capital/team-gallery/_team-gallery.pug
