extends ../base/_template_html

block page-id
  - const $pageId = 'team';

block page-main
  .page-main__experience
    include ../components/capital/experience/_experience
  .page-main__team-gallery
    include ../components/capital/team-gallery/_team-gallery
