.catalog-card__table-row {
  @include padding-ver(10px);
  display: block;
  border-bottom: 1px solid #707070;

  @include media-breakpoint-from(large) {
    @include padding-ver(0);
    display: table-row;
  }
}
