.#{$this}__table-cell {
  display: block;

  @include font(400, 16px, 24px);

  &--name {
    margin-bottom: 10px;
    color: black;
  }

  &--value {
    padding-left: 20px;
    color: #828282;
  }

  @include media-breakpoint-from(large) {
    display: table-cell;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: text-top;

    &--name {
      @include font(400, 18px, 30px);
      margin-bottom: 0;
      padding-right: 10px;
    }

    &--value {
      padding-left: 0;
      text-align: right;
    }
  }
}
