.history__control-button {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 50px;
  height: 50px;

  cursor: pointer;
  transition: opacity 0.5s;

  &--previous {
    left: 0;
    background-image: url("../img/history__slider-control--previous.svg");
  }

  .history__inner.js-slide-1 &--previous {
    opacity: 0.25;
    outline-style: none;
    cursor: default;
  }

  &--next {
    right: 0;
    background-image: url("../img/history__slider-control--next.svg");
  }

  .history__inner.js-slide-5 &--next {
    opacity: 0.25;
    outline-style: none;
    cursor: default;
  }

  @media (min-width: $medium-min-width) {
    top: 80px;

    &--previous {
      left: 20px;
    }

    &--next {
      right: 20px;
    }
  }

  @media (min-width: $large-min-width) {
    top: 5px;

    &--previous {
      left: -130px;
    }

    &--next {
      right: -130px;
    }
  }

  @media (min-width: $huge-min-width) {
    top: 70px;
  }
}
