.history__year {
  @include margin-hor(0);
  @include font(400, 48px, 1);
  color: #1d1d1d;

  @media (min-width: $medium-min-width) {
    font-size: 55px;
  }

  @media (min-width: $large-min-width) {
    font-size: 65px;
  }

  @media (min-width: $huge-min-width) {
    font-size: 75px;
  }
}
