.history__date-button {
  @include font(400, 48px, 1);
  display: block;
  padding: 0;
  color: #1d1d1d;
  background-color: transparent;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition-property: font-size, color;
  transition-duration: 0.2s;

  @media (min-width: $medium-min-width) {
    @for $slide-number from 1 through 5 {
      .history__inner.js-slide-#{$slide-number} & {
        @for $number from 1 through 5 {
          $font-size: if($number == $slide-number, 65px, 55px);
          $color: if($number == $slide-number, #1d1d1d, #989898);

          &--#{$number} {
            font-size: $font-size;
            color: $color;
          }
        }
      }
    }
  }

  @media (min-width: $large-min-width) {
    $slide-size-1-large: (35px, rgba(152, 152, 152, 0.32));
    $slide-size-2-large: (40px, rgba(152, 152, 152, 0.42));
    $slide-size-3-large: (45px, rgba(152, 152, 152, 0.52));
    $slide-size-4-large: (55px, #989898);
    $slide-size-5-large: (65px, #1d1d1d);

    $history-slides-large: (
      history-slide-1-large: (
        $slide-size-5-large,
        $slide-size-4-large,
        $slide-size-3-large,
        $slide-size-2-large,
        $slide-size-1-large,
      ),
      history-slide-2-large: (
        $slide-size-4-large,
        $slide-size-5-large,
        $slide-size-4-large,
        $slide-size-3-large,
        $slide-size-2-large,
      ),
      history-slide-3-large: (
        $slide-size-3-large,
        $slide-size-4-large,
        $slide-size-5-large,
        $slide-size-4-large,
        $slide-size-3-large,
      ),
      history-slide-4-large: (
        $slide-size-2-large,
        $slide-size-3-large,
        $slide-size-4-large,
        $slide-size-5-large,
        $slide-size-4-large,
      ),
      history-slide-5-large: (
        $slide-size-1-large,
        $slide-size-2-large,
        $slide-size-3-large,
        $slide-size-4-large,
        $slide-size-5-large,
      ),
    );

    @for $i from 1 through length($history-slides-large) {
      .history__inner.js-slide-#{$i} & {
        $slide: nth(nth($history-slides-large, $i), 2);

        @for $j from 1 through length($slide) {
          $font-size: nth(nth($slide, $j), 1);
          $color: nth(nth($slide, $j), 2);

          &--#{$j} {
            font-size: $font-size;
            color: $color;
          }
        }
      }
    }
  }

  @media (min-width: $huge-min-width) {
    $history-slides-huge: (
      history-slide-1-huge: (75px 65px 55px 45px 40px),
      history-slide-2-huge: (65px 75px 65px 55px 45px),
      history-slide-3-huge: (55px 65px 75px 65px 55px),
      history-slide-4-huge: (45px 55px 65px 75px 65px),
      history-slide-5-huge: (40px 45px 55px 65px 75px),
    );

    @for $i from 1 through length($history-slides-huge) {
      $slide: nth(nth($history-slides-huge, $i), 2);

      .history__inner.js-slide-#{$i} & {
        @for $j from 1 through length($slide) {
          $font-size: nth($slide, $j);

          &--#{$j} {
            font-size: $font-size;
          }
        }
      }
    }
  }
}
