.history__inner {
  @include margin-hor();
  @include padding-hor(20px);
  width: $small-min-width;

  @media (min-width: $medium-min-width) {
    @include padding-hor(0);
    width: 488px;
  }

  @media (min-width: $large-min-width) {
    width: 780px;
  }

  @media (min-width: $huge-min-width) {
    width: 1000px;
  }
}
