#{$this}__list {
  @include list();
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, auto);
  grid-auto-flow: column;
  justify-content: space-around;

  @include media-breakpoint-from(medium) {
    grid-column-gap: 20px;
  }

  @include media-breakpoint-from(large) {
    grid-row-gap: 10px;
    grid-column-gap: 40px;
  }

  @include media-breakpoint-from(huge) {
    grid-column-gap: 25px;
  }
}
