:root {
  --page-header-bypass: 265px;

  @include media-breakpoint-from(medium) {
    --page-header-bypass: 200px;
  }

  @include media-breakpoint-from(large) {
    --page-header-bypass: 220px;
  }

  @include media-breakpoint-from(huge) {
    --page-header-bypass: 260px;
  }
}
