.address__legend {
  .address--contacts & {
    display: block;
    color: $light-gray;
  }

  .address--footer & {
    display: none;
  }

  @include media-breakpoint-from(large) {
    .address--contacts & {
      margin-bottom: 20px;
    }
  }
}
