mixin address()
  - const location = attributes.location;
  div(class=setModifiers('address', [location]))
    span.address__legend Наш адрес:
    p.address__content 123290 Москва,#[br]ул. 1-ая Магистральная, д. 2
