.team-gallery__inner {
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-min-width) {
    padding-bottom: 90px;
  }

  @media (min-width: $large-min-width) {
    padding-bottom: 117px;
  }
}
