mixin projects()
  -
    const PROJECTS_HEADINGS = {
      'index': 'Реализованные проекты',
      'projects': 'Основные направления',
    };
  .projects
    .projects__inner
      h2.aligner.heading.projects__heading= PROJECTS_HEADINGS[$pageId]
      include _projects__content.pug
