.#{$this}__heading {
  @include margin-hor();
  @include padding-hor(20px);
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;

  @include media-breakpoint-from(medium) {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 48px;
  }

  @include media-breakpoint-from(large) {
    @include padding-hor(10px);
    margin-bottom: 65px;
    font-size: 36px;
    line-height: 52px;
  }

  @include media-breakpoint-from(huge) {
    @include padding-hor(5px);
    margin-bottom: 60px;
  }
}
