.#{$this}__list {
  @include list();
  display: flex;
  width: 700%;
  transition: transform 0.5s ease-out;

  @for $i from 1 through 7 {
    &.js-slide-#{$i} {
      transform: translateX(calc(-100% * (#{$i} - 1) / 7));
    }
  }

  @include media-breakpoint-from(medium) {
    width: 1784px;

    @for $i from 1 through 7 {
      &.js-slide-#{$i} {
        transform: translateX(calc((-1056px / 6) * (#{$i} - 1)));
      }
    }
  }

  @include media-breakpoint-from(large) {
    width: 2094px;

    @for $i from 1 through 7 {
      &.js-slide-#{$i} {
        transform: translateX(calc(-1796px / 6 * (#{$i} - 1)));
      }
    }
  }

  @include media-breakpoint-from(huge) {
    @for $i from 1 through 7 {
      &.js-slide-#{$i} {
        transform: translateX(0);
      }
    }
  }
}
