.#{$this}__inner {
  @include margin-hor();
  position: relative;
  width: get-breakpoint(small);
  padding: 30px 20px 20px;

  @include media-breakpoint-from(medium) {
    display: flex;
    width: auto;
    padding-top: 20px;
  }

  @include media-breakpoint-from(large) {
    @include padding-hor(calc(4000% / 1203));
    max-width: none;
  }

  @include media-breakpoint-from(huge) {
    max-width: get-breakpoint(huge);
    padding-left: 40px;
    padding-right: 100px;
  }
}
