.#{$this}__nest {
  &--menu-controls {
    position: absolute;
    z-index: 1;
    top: 35px;
    right: 30px;
  }

  &--socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &--language-toggle {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 30px;
  }

  @include media-breakpoint-from(medium) {
    &--menu-controls {
      top: 50px;
      left: 20px;
      right: auto;
      transition: top, transform 0.25s;

      .is-scrolled & {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--logo {
      margin-left: 80px;

      .is-scrolled & {
        transform: scale(0);
      }
    }

    &--socials {
      align-items: center;
      margin-top: 0;
      margin-left: auto;
      padding-top: 16px;

      .is-scrolled & {
        padding-top: 0;
      }
    }

    &--language-toggle {
      top: 20px;
      right: 20px;

      .is-scrolled & {
        transform: scale(0);
      }
    }
  }

  @include media-breakpoint-from(large) {
    &--menu-controls {
      display: none;
    }

    &--logo {
      margin-left: 0;
      margin-right: auto;
    }

    &--navigation {
      @include margin-hor(auto);
      width: calc(85000% / 1203);
      align-self: center;
    }

    &--socials {
      align-self: center;
      padding-top: 0;
    }

    &--language-toggle {
      right: 40px;
    }
  }

  @include media-breakpoint-from(huge) {
    &--navigation {
      @include margin-hor(140px);
    }

    &--socials {
      align-items: stretch;
    }

    &--language-toggle {
      right: 100px;
    }
  }
}
