#{$this}__nest {
  &--menu-controls {
    position: absolute;
    z-index: 1;
    top: 35px;
    right: 30px;
  }

  &--socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &--language-toggle {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 30px;
  }

  @include media-breakpoint-from(medium) {
    &--menu-controls {
      top: 50px;
      left: 20px;
      right: auto;
    }

    &--logo {
      margin-left: 80px;
    }

    &--socials {
      align-items: center;
      margin-top: 0;
      margin-left: auto;
      padding-top: 16px;
    }

    &--language-toggle {
      top: 20px;
      right: 20px;
    }
  }

  @include media-breakpoint-from(large) {
    &--menu-controls {
      display: none;
    }

    &--logo {
      margin-left: 0;
      margin-right: 0;
    }

    &--navigation {
      @include margin-hor(30px);
      flex-grow: 1;
      align-self: center;
    }

    &--socials {
      align-self: center;
      padding-top: 0;
    }

    &--language-toggle {
      right: 40px;
    }
  }

  @include media-breakpoint-from(huge) {
    &--navigation {
      @include margin-hor(140px);
    }

    &--socials {
      align-items: stretch;
    }

    &--language-toggle {
      right: 100px;
    }
  }
}
