.project-cards__item {
  box-shadow: 0 0 3px 0 $dark-gray;

  &--gallery {
    display: none;
    width: 100%;
  }

  @media (min-width: $cards-2-col-min-width) {
    box-shadow: none;

    &--regular {
      width: 50%;
    }
  }

  @media (min-width: $large-min-width) {
    &--regular {
      width: calc(100% / 3);
    }
  }
}
