section.supremacy
  -
    const SUPREMACY_PARAGRAPHS = [
      'Вы хотите, чтобы мы сделали это, и мы сделаем. На сегодня мы имеем, пожалуй, самый большой опыт в работе с концертным звуком в России. И это не только потому, что занимаемся этим дольше, чем другие, но и потому, что мы всегда стремимся пробовать что-нибудь новое, самое современное и самое интересное.',
      'Поэтому звуковые системы Live-Sound Agency можно увидеть на всех фестивалях, городских праздниках, концертных турах, Правительственных мероприятиях и на телевизионных программах. Наши работы охватывают все музыкальные жанры и направления от симфонической музыки до рок\'н\'ролла и рэйва.',
      'Вы встретите наше оборудование и на конференциях, корпоративных мероприятиях, выставках, ресторанах, клубах и других площадках. Иными словами – везде, где надо усилить звук, независимо от того в Москве это, в Норильске или за пределами России. Live-Sound Agency всегда обеспечит надежное и профессиональное обслуживание.',
      'Вот некоторые из работ, сделанные нами ранее и осуществляемые сейчас.',
    ];
  .aligner.supremacy__inner
    h2.heading.supremacy__heading Нет невыполнимой работы
    each paragraph in SUPREMACY_PARAGRAPHS
      p.suprecamy__paragraph= paragraph
