mixin logo()
  - const location = attributes.location;
  div(class=setModifiers('logo', [location]))
    a.logo__link(href=($pageId === 'index' ? null : 'index.html'))
      img.logo__image(
        src=`img/logo-${location}.png`,
        alt='Live Sound Agency',
      )
