mixin logo(logoLocation)
  div(class=setModifiers('logo', [logoLocation]))
    a.logo__link(href=($pageId === 'index' ? null : 'index.html'))
      img.logo__image(
        src=`img/logo-${logoLocation}.png`,
        alt='Live Sound Agency',
      )
