.page-main__partners {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 100px;
  }

  @media (min-width: $huge-min-width) {
    margin-bottom: 123px;
  }
}
