.mission__inner {
  @include padding-hor(20px);
  padding-bottom: 100px;

  @media (min-width: $medium-min-width) {
    @include padding-hor(120px);
    padding-bottom: 180px;
  }

  @media (min-width: $large-min-width) {
    @include padding-hor(20px);
    padding-bottom: 150px;
  }

  @media (min-width: $huge-min-width) {
    @include padding-hor(420px);
    padding-bottom: 240px;
  }
}
