.mission
  -
    const MISSION_PARAGRAPHS = [
      'В организации мероприятия каждый хочет чего-то своего. Звукорежиссер хочет получить лучшее оборудование, продакшн-менеджер хочет, чтобы это оборудование было вовремя смонтировано и находилось в идеальном рабочем состоянии, заказчик хочет все выше перечисленное и за разумные деньги.',
      'За прошедшие годы мы работали, пожалуй, со всеми крупными коллективами и исполнителями, объехали всю страну, и не только нашу.',
      'И мы знаем, как оправдать самые высокие надежды. Независимо от того, какое мероприятие Вы организуете, мы спроектируем лучшую, самую рентабельную звуковую систему, смонтируем ее и обеспечим ее качественную работу столько, сколько Вам понадобится.',
      'Наша философия – сделать все, что нужно для Вашего успеха. Наша цель в том, чтобы каждый был доволен: на сцене, за сценой и самое главное – перед сценой.',
    ];
  .aligner.mission__inner
    h2.heading.mission__heading Миссия и видение
    each paragraph in MISSION_PARAGRAPHS
      p.mission__paragraph= paragraph
