.mission__inner {
  @include padding-hor(20px);
  padding-bottom: 100px;

  @include media-breakpoint-from(medium) {
    @include padding-hor(120px);
    padding-bottom: 180px;
  }

  @include media-breakpoint-from(large) {
    @include padding-hor(20px);
    padding-bottom: 150px;
  }

  @include media-breakpoint-from(huge) {
    @include padding-hor(420px);
    padding-bottom: 240px;
  }
}
