.socials__link {
  $socialNewtorkNames: (
    "instagram",
    "youtube",
    "facebook"
  );

  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @each $value in $socialNewtorkNames {
    &--#{$value} {
      background-image: url("../img/socials-#{$value}.svg");
    }
  }

  .socials--contacts & {
    @each $value in $socialNewtorkNames {
      &--#{$value} {
        background-image: url("../img/socials-#{$value}--contacts.svg");
      }
    }
  }

  @media (min-width: $large-min-width) and (max-width: $large-max-width) {
    width: 32px;
    height: 32px;
  }
}
