include ../components/capital/address/_m_address
include ../components/capital/catalog-card/_m_catalog-card
include ../components/capital/intro/_m_intro
include ../components/capital/logo/_m_logo
include ../components/capital/main-navigation/_m_main-navigation
include ../components/capital/partners/_m_partners
include ../components/capital/projects/_m_projects
include ../components/capital/socials/_socials
