include ../components/capital/address/_m_address.pug
include ../components/capital/catalog-card/_m_catalog-card.pug
include ../components/capital/logo/_m_logo.pug
include ../components/capital/partners/_m_partners.pug
include ../components/capital/projects/_m_projects.pug
include ../components/capital/socials/_m_socials.pug
