include ../components/capital/address/_mx_address.pug
include ../components/capital/copyright/_mx_copyright.pug
include ../components/capital/creator/_mx_creator.pug
include ../components/capital/footer-navigation/_mx_footer-navigation.pug
include ../components/capital/logo/_mx_logo.pug
include ../components/capital/socials/_mx_socials.pug
include ../components/capital/tel/_mx_tel.pug
include ../components/capital/widget/_mx_widget.pug

include ../components/capital/catalog-card/_mx_catalog-card.pug
include ../components/capital/partners/_m_partners.pug
include ../components/capital/projects/_m_projects.pug
