include _import_data.pug

block page-id

-
  const $pageTitle = $PAGES[$pageId];
  const $needJquery = ['index', 'about', 'projects'].includes($pageId);
  const $projectCardsContained = ['index', 'projects'].includes($pageId);

include _import_functions.pug
include _import_mixins.pug

doctype html
html(lang='ru')
  include ../global/head/_head.pug
  body(class=setModifiers('page', [$pageId]))
    include ../components/capital/page/_page_Content.pug
    include ../components/capital/page/_page_Scripts.pug
