include _import_data

block page-id

-
  const $pageTitle = $PAGES[$pageId];
  const $projectCardsContained = ['index', 'projects'].includes($pageId);

include _import_functions
include _import_mixins

doctype html
html(lang='ru')
  include ../components/capital/head/_head
  body(class=setModifiers('page', [$pageId]))
    include ../components/capital/page/_page_Content
    include ../components/capital/page/_page_Scripts
