.menu-controls__button {
  background: {
    color: transparent;
    position-y: top;
    size: cover;
    repeat: no-repeat;
  }
  border-style: none;
  cursor: pointer;

  &--open {
    width: 60px;
    height: 30px;
    background: {
      image: url("../img/menu-controls__button--open.svg");
      position-x: left;
    }

    .is-visible & {
      display: none;
    }
  }

  &--close {
    display: none;
    width: 32px;
    height: 32px;
    background: {
      image: url("../img/menu-controls__button--close.svg");
      position-x: right;
    }

    .is-visible & {
      display: block;
    }
  }

  @media (min-width: $medium-min-width) {
    &--close {
      margin-left: 10px;
    }
  }
}
