.#{$this}__button {
  background-color: transparent;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: none;
  cursor: pointer;

  &--open {
    width: 60px;
    height: 30px;
    background-image: url("../img/menu-controls__button--open.svg");
    background-position-x: left;

    .is-visible & {
      display: none;
    }
  }

  &--close {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url("../img/menu-controls__button--close.svg");
    background-position-x: right;

    .is-visible & {
      display: block;
    }
  }

  @include media-breakpoint-from(medium) {
    &--close {
      margin-left: 10px;
    }
  }
}
