.page-main__intro {
  margin-bottom: 40px;

  .page-main--partners & {
    margin-bottom: 0;
  }

  .page-main--team & {
    margin-bottom: 60px;
  }

  @include media-breakpoint-from(medium) {
    .page-main--team & {
      margin-bottom: 90px;
    }
  }

  @include media-breakpoint-from(large) {
    margin-bottom: 125px;

    .page-main--projects & {
      margin-bottom: 90px;
    }

    .page-main--contacts & {
      margin-bottom: 70px;
    }
  }

  @include media-breakpoint-from(huge) {
    .page-main--team & {
      margin-bottom: 120px;
    }

    .page-main--equipment & {
      margin-bottom: 140px;
    }
  }
}
