#{$this} {
  background-position: bottom;
  background-repeat: no-repeat;

  @mixin set-background-image($media) {
    @each $modifier in (about, projects, team, equipment,) {
      &--#{$modifier} {
        background-image: url("../img/#{$modifier}-background-#{$media}.png");
      }
    }
  }

  @include set-background-image(small);

  @include media-breakpoint-from(medium) {
    @include set-background-image(medium);
  }

  @include media-breakpoint-from(large) {
    @include set-background-image(large);
    background-position-y: 100%;

    @each $modifier, $shift in (about: 300, projects: 100, ) {
      &--#{$modifier} {
        background-position-y: calc(100% + #{$shift}px);
      }
    }
  }
}
