.acknowledgements__inner {
  padding-left: 20px;
  padding-right: 20px;
}

.acknowledgements__heading {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;

  @include font(400, 20px, 30px);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $medium-min-width) {
    @include font(400, 32px, 48px);
  }

  @media (min-width: $large-min-width) {
    @include font(400, 36px, 52px);
  }
}

.acknowledgements__slider-container {
  position: relative;
}

.acknowledgements__slider-controls {
  @media (min-width: $huge-min-width) {
    display: none;
  }
}

.acknowledgements__slider-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 41px;
  height: 66px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition: opacity 0.5s;

  &--previous {
    left: 10px;
    background-image: url("../img/acknowledgements__slider-control--previous.png");
  }

  &--next {
    right: 10px;
    background-image: url("../img/acknowledgements__slider-control--next.png");
  }

  &.is-disabled {
    opacity: 0.25;
    cursor: default;
  }

  @media (min-width: $medium-min-width) {
    &--previous {
      left: 20px;
    }

    &--next {
      right: 20px;
    }
  }
}

.acknowledgements__slider {
  overflow: hidden;
}

.acknowledgements__list {
  display: flex;
  width: 700%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  transition: transform 0.5s ease-out;

  @for $i from 1 through 7 {
    &.js-slide-#{$i} {
      transform: translateX(calc(-100% * (#{$i} - 1) / 7));
    }
  }

  @media (min-width: $medium-min-width) {
    width: 1784px;

    @for $i from 1 through 7 {
      &.js-slide-#{$i} {
        transform: translateX(calc((-1056px / 6) * (#{$i} - 1)));
      }
    }
  }

  @media (min-width: $large-min-width) {
    width: 2094px;

    @for $i from 1 through 7 {
      &.js-slide-#{$i} {
        transform: translateX(calc(-1796px / 6 * (#{$i} - 1)));
      }
    }
  }

  @media (min-width: $huge-min-width) {
    @for $i from 1 through 7 {
      &.js-slide-#{$i} {
        transform: translateX(0);
      }
    }
  }
}

.acknowledgements__item {
  width: calc(100% / 7);

  @media (min-width: $medium-min-width) {
    width: 200px;

    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  @media (min-width: $large-min-width) {
    width: 282px;

    &:not(:last-child) {
      margin-right: 167px;
    }
  }

  @media (min-width: $huge-min-width) {
    width: 200px;

    &:not(:last-child) {
      margin-right: calc(200px / 3);
    }
  }
}

.acknowledgements__link {
  display: block;
}

.acknowledgements__image {
  display: block;

  @include margin-hor;

  @media (min-width: $medium-min-width) {
    @include margin-hor(0);
  }
}
