.catalog-card__list {
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-card__image {
  display: block;
}

.catalog-card__title {
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-card__value {
  margin-left: 0;
}
