.catalog-card {
  @media (min-width: $medium-min-width) {
    display: flex;
  }
}

.catalog-card__column-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @media (min-width: $medium-min-width) {
    flex-shrink: 0;
    width: 350px;
    margin-bottom: 0;
    margin-right: 20px;
  }

  @media (min-width: $large-min-width) {
    margin-right: 40px;
  }
}

.catalog-card__column-2 {
  @media (min-width: $medium-min-width) {
    flex-grow: 1;
  }
}

.catalog-card__image {
  display: block;
}

.catalog-card__title {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(700, 20px, 28px);
  color: black;

  @media (min-width: $large-min-width) {
    margin-bottom: 40px;

    @include font(700, 26px, 42px);
  }
}

.catalog__table {
  display: block;
  border-collapse: collapse;

  @media (min-width: $large-min-width) {
    display: table;
  }
}

.catalog__table-body {
  display: block;

  @media (min-width: $large-min-width) {
    display: table-row-group;
  }
}

.catalog__table-row {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #707070;

  @media (min-width: $large-min-width) {
    display: table-row;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.catalog__table-cell {
  display: block;

  @include font(400, 16px, 24px);

  &--name {
    margin-bottom: 10px;
    color: black;
  }

  &--value {
    padding-left: 20px;
    color: #828282;
  }

  @media (min-width: $large-min-width) {
    display: table-cell;
    vertical-align: text-top;
    padding-top: 15px;
    padding-bottom: 15px;

    &--name {
      margin-bottom: 0;
      padding-right: 10px;

      @include font(400, 18px, 30px);
    }

    &--value {
      padding-left: 0;
      text-align: right;
    }
  }
}

.catalog-card__paragraph {
  margin-top: 0;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 0;
  }
}
