.catalog__inner {
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog__item {
  padding-bottom: 20px;
  border-bottom: 1px solid #707070;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &.is-active {
    border-bottom-style: none;
  }

  &.is-active:not(:last-child) {
    margin-bottom: 50px;
  }
}

.catalog__item-caption {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 40px;

  @include font(400, 16px, 30px);
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    transform-origin: center;
    transform: translateY(-50%) rotate(45deg);
    width: 17px;
    height: 17px;
    border-top: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
  }

  .is-active & {
    margin-bottom: 40px;
  }

  .is-active &::after {
    transform: translateY(-50%) rotate(135deg);
  }

  @media (min-width: $medium-min-width) {
    padding-left: 20px;
    padding-right: 60px;

    @include font(400, 35px, 40px);
    text-transform: none;

    &::after {
      right: 32px;
    }
  }
}
