.catalog-volume {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog-volume__item {
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  @media (min-width: $medium-min-width) {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  @media (min-width: $large-min-width) {
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }
}
