.connection {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $medium-min-width) {
    &--header {
      flex-direction: row;
    }

    &--footer {
      align-items: flex-end;
    }
  }

  @media (min-width: $huge-min-width) {
    &--header {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.connection__tel {
  display: block;
  margin-bottom: 15px;

  @include font(400, 24px, 36px);
  color: white;

  @media (min-width: $medium-min-width) {
    .connection--header & {
      margin-bottom: 0;
      margin-right: 40px;

      @include font(400, 32px, 48px);
    }
  }

  @media (min-width: $large-min-width) {
    .connection--header & {
      @include font(400, 25px, 36px);
    }
  }

  @media (min-width: $huge-min-width) {
    .connection--header & {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }
}
