.history__inner {
  width: 840px;

  @include margin-hor;
  padding-left: 20px;
  padding-right: 20px;
}

.history__slider-controls {
  position: relative;
  margin-bottom: 60px;
}

.history__control-button {
  position: absolute;
  top: 30px;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: none;
  cursor: pointer;

  &--previous {
    left: -150px;
    background-image: url("../img/history__slider-control--previous.svg");
  }

  .history__inner.js-slide-1 &--previous {
    display: none;
  }

  &--next {
    right: -150px;
    background-image: url("../img/history__slider-control--next.svg");
  }

  .history__inner.js-slide-5 &--next {
    display: none;
  }
}

.history__date-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.history__date-item {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.history__date-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition-property: font-size, color;
  transition-duration: 0.2s;

  .history__inner.js-slide-1 & {
    &--1 {
      @include font(400, 65px, 65px);
      color: #1d1d1d;
    }

    &--2 {
      @include font(400, 55px, 55px);
      color: #989898;
    }

    &--3 {
      @include font(400, 45px, 45px);
      color: rgba(152, 152, 152, 0.52);
    }

    &--4 {
      @include font(400, 40px, 40px);
      color: rgba(152, 152, 152, 0.42);
    }

    &--5 {
      @include font(400, 35px, 35px);
      color: rgba(152, 152, 152, 0.32);
    }
  }

  .history__inner.js-slide-2 & {
    &--1 {
      @include font(400, 55px, 55px);
      color: #989898;
    }

    &--2 {
      @include font(400, 65px, 65px);
      color: #1d1d1d;
    }

    &--3 {
      @include font(400, 55px, 55px);
      color: #989898;
    }

    &--4 {
      @include font(400, 45px, 45px);
      color: rgba(152, 152, 152, 0.52);
    }

    &--5 {
      @include font(400, 40px, 40px);
      color: rgba(152, 152, 152, 0.42);
    }
  }

  .history__inner.js-slide-3 & {
    &--1 {
      @include font(400, 45px, 45px);
      color: rgba(152, 152, 152, 0.52);
    }

    &--2 {
      @include font(400, 55px, 55px);
      color: #989898;
    }

    &--3 {
      @include font(400, 65px, 65px);
      color: #1d1d1d;
    }

    &--4 {
      @include font(400, 55px, 55px);
      color: #989898;
    }

    &--5 {
      @include font(400, 45px, 45px);
      color: rgba(152, 152, 152, 0.52);
    }
  }

  .history__inner.js-slide-4 & {
    &--1 {
      @include font(400, 40px, 40px);
      color: rgba(152, 152, 152, 0.42);
    }

    &--2 {
      @include font(400, 45px, 45px);
      color: rgba(152, 152, 152, 0.52);
    }

    &--3 {
      @include font(400, 55px, 55px);
      color: #989898;
    }

    &--4 {
      @include font(400, 65px, 65px);
      color: #1d1d1d;
    }

    &--5 {
      @include font(400, 55px, 55px);
      color: #989898;
    }
  }

  .history__inner.js-slide-5 & {
    &--1 {
      @include font(400, 35px, 35px);
      color: rgba(152, 152, 152, 0.32);
    }

    &--2 {
      @include font(400, 40px, 40px);
      color: rgba(152, 152, 152, 0.42);
    }

    &--3 {
      @include font(400, 45px, 45px);
      color: rgba(152, 152, 152, 0.52);
    }

    &--4 {
      @include font(400, 55px, 55px);
      color: #989898;
    }

    &--5 {
      @include font(400, 65px, 65px);
      color: #1d1d1d;
    }
  }
}

.history__slider {
  overflow: hidden;
}

.history__list {
  display: flex;
  width: 500%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;

  .history__inner.js-slide-1 & {
    transform: translateX(0);
  }

  .history__inner.js-slide-2 & {
    transform: translateX(-20%);
  }

  .history__inner.js-slide-3 & {
    transform: translateX(-40%);
  }

  .history__inner.js-slide-4 & {
    transform: translateX(-60%);
  }

  .history__inner.js-slide-5 & {
    transform: translateX(-80%);
  }
}

.history__item {
  width: 20%;
}

.history__content {
  margin-top: 0;
  margin-bottom: 0;

  @include font(400, 18px, 30px);
  text-align: center;
}
