.history__inner {
  padding-left: 20px;
  padding-right: 20px;
}

.history__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.history__content {
  margin-top: 0;
  margin-bottom: 0;

  @include font(400, 18px, 30px);
  text-align: center;
}
