.history__inner {
  width: $small-min-width;

  @include margin-hor;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-min-width) {
    width: $medium-min-width;
  }

  @media (min-width: $large-min-width) {
    width: 840px;
  }

  @media (min-width: $huge-min-width) {
    width: 1000px;
  }
}

.history__slider-controls {
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $large-min-width) {
    margin-bottom: 60px;
  }
}

.history__control-button {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: none;
  cursor: pointer;

  &--previous {
    left: 0;
    background-image: url("../img/history__slider-control--previous.svg");
  }

  .history__inner.js-slide-1 &--previous {
    opacity: 0.25;
    outline-style: none;
    cursor: default;
  }

  &--next {
    right: 0;
    background-image: url("../img/history__slider-control--next.svg");
  }

  .history__inner.js-slide-5 &--next {
    opacity: 0.25;
    outline-style: none;
    cursor: default;
  }

  @media (min-width: $medium-min-width) {
    top: 80px;

    &--previous {
      left: 20px;
    }

    &--next {
      right: 20px;
    }
  }

  @media (min-width: $large-min-width) {
    top: 30px;

    &--previous {
      left: -150px;
    }

    &--next {
      right: -150px;
    }
  }

  @media (min-width: $huge-min-width) {
    top: 70px;
  }
}

.history__date-slider {
  overflow: hidden;
  width: 160px;

  @include margin-hor;

  @media (min-width: $medium-min-width) {
    width: auto;
  }
}

.history__date-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;

  @media (max-width: $small-max-width) {
    .history__inner.js-slide-1 & {
      transform: translateX(0);
    }

    .history__inner.js-slide-2 & {
      transform: translateX(-20%);
    }

    .history__inner.js-slide-3 & {
      transform: translateX(-40%);
    }

    .history__inner.js-slide-4 & {
      transform: translateX(-60%);
    }

    .history__inner.js-slide-5 & {
      transform: translateX(-80%);
    }
  }

  @media (min-width: $medium-min-width) {
    width: calc(500% / 3);

    .history__inner.js-slide-1 & {
      transform: translateX(20%);
    }

    .history__inner.js-slide-2 & {
      transform: translateX(0);
    }

    .history__inner.js-slide-3 & {
      transform: translateX(-20%);
    }

    .history__inner.js-slide-4 & {
      transform: translateX(-40%);
    }

    .history__inner.js-slide-5 & {
      transform: translateX(-60%);
    }
  }

  @media (min-width: $large-min-width) {
    width: 100%;

    .history__inner.js-slide-1 & {
      transform: translateX(40%);
    }

    .history__inner.js-slide-2 & {
      transform: translateX(20%);
    }

    .history__inner.js-slide-3 & {
      transform: translateX(0);
    }

    .history__inner.js-slide-4 & {
      transform: translateX(-20%);
    }

    .history__inner.js-slide-5 & {
      transform: translateX(-40%);
    }
  }
}

.history__date-item {
  display: flex;
  flex-direction: column;
  width: 20%;

  @media (min-width: $medium-min-width) {
    width: calc(100% / 3);
  }

  @media (min-width: $large-min-width) {
    width: 20%;
  }
}

.history__date-button {
  display: block;
  padding: 0;

  @include font(400, 48px, 48px);
  color: #1d1d1d;
  background-color: transparent;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  transition-property: font-size, color;
  transition-duration: 0.2s;

  @media (min-width: $medium-min-width) {
    .history__inner.js-slide-1 & {
      &--1 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-2 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-3 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-4 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-5 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }
    }
  }

  @media (min-width: $large-min-width) {
    .history__inner.js-slide-1 & {
      &--1 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--4 {
        @include font(400, 40px, 40px);
        color: rgba(152, 152, 152, 0.42);
      }

      &--5 {
        @include font(400, 35px, 35px);
        color: rgba(152, 152, 152, 0.32);
      }
    }

    .history__inner.js-slide-2 & {
      &--1 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--2 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--5 {
        @include font(400, 40px, 40px);
        color: rgba(152, 152, 152, 0.42);
      }
    }

    .history__inner.js-slide-3 & {
      &--1 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--2 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--3 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }
    }

    .history__inner.js-slide-4 & {
      &--1 {
        @include font(400, 40px, 40px);
        color: rgba(152, 152, 152, 0.42);
      }

      &--2 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--3 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--4 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }

      &--5 {
        @include font(400, 55px, 55px);
        color: #989898;
      }
    }

    .history__inner.js-slide-5 & {
      &--1 {
        @include font(400, 35px, 35px);
        color: rgba(152, 152, 152, 0.32);
      }

      &--2 {
        @include font(400, 40px, 40px);
        color: rgba(152, 152, 152, 0.42);
      }

      &--3 {
        @include font(400, 45px, 45px);
        color: rgba(152, 152, 152, 0.52);
      }

      &--4 {
        @include font(400, 55px, 55px);
        color: #989898;
      }

      &--5 {
        @include font(400, 65px, 65px);
        color: #1d1d1d;
      }
    }
  }

  @media (min-width: $huge-min-width) {
    .history__inner.js-slide-1 & {
      &--1 {
        @include font(400, 75px, 75px);
      }

      &--2 {
        @include font(400, 65px, 65px);
      }

      &--3 {
        @include font(400, 55px, 55px);
      }

      &--4 {
        @include font(400, 45px, 45px);
      }

      &--5 {
        @include font(400, 40px, 40px);
      }
    }

    .history__inner.js-slide-2 & {
      &--1 {
        @include font(400, 65px, 65px);
      }

      &--2 {
        @include font(400, 75px, 75px);
      }

      &--3 {
        @include font(400, 65px, 65px);
      }

      &--4 {
        @include font(400, 55px, 55px);
      }

      &--5 {
        @include font(400, 45px, 45px);
      }
    }

    .history__inner.js-slide-3 & {
      &--1 {
        @include font(400, 55px, 55px);
      }

      &--2 {
        @include font(400, 65px, 65px);
      }

      &--3 {
        @include font(400, 75px, 75px);
      }

      &--4 {
        @include font(400, 65px, 65px);
      }

      &--5 {
        @include font(400, 55px, 55px);
      }
    }

    .history__inner.js-slide-4 & {
      &--1 {
        @include font(400, 45px, 45px);
      }

      &--2 {
        @include font(400, 55px, 55px);
      }

      &--3 {
        @include font(400, 65px, 65px);
      }

      &--4 {
        @include font(400, 75px, 75px);
      }

      &--5 {
        @include font(400, 65px, 65px);
      }
    }

    .history__inner.js-slide-5 & {
      &--1 {
        @include font(400, 40px, 40px);
      }

      &--2 {
        @include font(400, 45px, 45px);
      }

      &--3 {
        @include font(400, 55px, 55px);
      }

      &--4 {
        @include font(400, 65px, 65px);
      }

      &--5 {
        @include font(400, 75px, 75px);
      }
    }
  }
}

.history__slider {
  overflow: hidden;

  @include margin-hor;

  @media (min-width: $medium-min-width) {
    width: 488px;
  }

  @media (min-width: $large-min-width) {
    width: auto;
  }
}

.history__list {
  display: flex;
  width: 500%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  transition-property: transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;

  .history__inner.js-slide-1 & {
    transform: translateX(0);
  }

  .history__inner.js-slide-2 & {
    transform: translateX(-20%);
  }

  .history__inner.js-slide-3 & {
    transform: translateX(-40%);
  }

  .history__inner.js-slide-4 & {
    transform: translateX(-60%);
  }

  .history__inner.js-slide-5 & {
    transform: translateX(-80%);
  }
}

.history__item {
  width: 20%;
}

.history__content {
  margin-top: 0;
  margin-bottom: 0;

  @include font(400, 18px, 30px);
  text-align: center;
}
