.intro {
  background-repeat: no-repeat;
  background-position: 50% -200px;
  background-size: 1920px 750px;

  &--about {
    background-image: url("../img/intro--about.jpg");
  }

  &--partners {
    background-image: url("../img/intro--partners.jpg");
  }

  &--projects {
    background-image: url("../img/intro--projects.jpg");
  }

  &--team {
    background-image: url("../img/intro--team.jpg");
  }
}

.intro__inner {
  padding-top: calc(var(--page-header-bypass) + 60px);
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-min-width) {
    padding-top: var(--page-header-bypass);
  }

  @media (min-width: $large-min-width) {
    padding-bottom: 200px;
  }
}

.intro__heading {
  margin-top: 0;
  margin-bottom: 0;

  @include font(400, 36px, 54px);
  text-align: center;
  text-transform: uppercase;
  color: white;

  .intro--partners & {
    @include font(400, 24px, 36px);
  }

  @media (min-width: $medium-min-width) {
    @include font(400, 42px, 63px);

    .intro--partners & {
      @include font(400, 42px, 63px);
    }
  }

  @media (min-width: $large-min-width) {
    @include font(400, 60px, 72px);

    .intro--partners & {
      @include font(400, 60px, 72px);
    }
  }
}
