.intro {
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -150px;
  background-size: 800px 750px;

  $page-list: (about, projects, team, equipment, partners, contacts);

  @each $value in $page-list {
    &--#{$value} {
      background-image: url("../img/intro--#{$value}-small.jpg");
    }
  }

  &--equipment {
    background-position-y: -200px;
  }

  @media (min-width: $medium-min-width) {
    background-position-y: -300px;
    background-size: 1230px 750px;

    @each $value in $page-list {
      &--#{$value} {
        background-image: url("../img/intro--#{$value}-medium.jpg");
      }
    }

    &--partners {
      background-position-y: -250px;
    }

    &--contacts {
      background-position-y: -250px;
    }
  }

  @media (min-width: $large-min-width) {
    background-position-y: -200px;
    background-size: 1920px 750px;

    @each $value in $page-list {
      &--#{$value} {
        background-image: url("../img/intro--#{$value}-large.jpg");
      }
    }
  }

  @media (min-width: $huge-min-width) {
    background-position-y: 0;
  }
}

.intro__inner {
  padding-top: calc(var(--page-header-bypass) + 60px);
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-min-width) {
    padding-top: var(--page-header-bypass);
  }

  @media (min-width: $large-min-width) {
    padding-bottom: 200px;
  }
}

.intro__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: white;

  @media (min-width: $medium-min-width) {
    .intro & {
      font-size: 42px;
      line-height: 63px;
      letter-spacing: 2px;
    }
  }

  @media (min-width: $large-min-width) {
    .intro & {
      font-size: 50px;
      line-height: 72px;
      letter-spacing: 3px;
    }
  }

  @media (min-width: $huge-min-width) {
    .intro & {
      font-size: 60px;
    }
  }
}
