.intro {
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -150px;
  background-size: 800px 750px;

  &--about {
    background-image: url("../img/intro--about-small.jpg");
  }

  &--partners {
    background-image: url("../img/intro--partners-small.jpg");
  }

  &--projects {
    background-image: url("../img/intro--projects-small.jpg");
  }

  &--team {
    background-image: url("../img/intro--team-small.jpg");
  }

  &--equipment {
    background-position-y: -200px;
    background-image: url("../img/intro--equipment-small.jpg");
  }

  &--contacts {
    background-image: url("../img/intro--contacts-small.jpg");
  }

  @media (min-width: $medium-min-width) {
    background-position-y: -300px;
    background-size: 1230px 750px;

    &--about {
      background-image: url("../img/intro--about-medium.jpg");
    }

    &--partners {
      background-position-y: -250px;
      background-image: url("../img/intro--partners-medium.jpg");
    }

    &--projects {
      background-image: url("../img/intro--projects-medium.jpg");
    }

    &--team {
      background-image: url("../img/intro--team-medium.jpg");
    }

    &--equipment {
      background-image: url("../img/intro--equipment-medium.jpg");
    }

    &--contacts {
      background-position-y: -250px;
      background-image: url("../img/intro--contacts-medium.jpg");
    }
  }

  @media (min-width: $large-min-width) {
    background-position-y: -200px;
    background-size: 1920px 750px;

    &--about {
      background-image: url("../img/intro--about-large.jpg");
    }

    &--partners {
      background-image: url("../img/intro--partners-large.jpg");
    }

    &--projects {
      background-image: url("../img/intro--projects-large.jpg");
    }

    &--team {
      background-image: url("../img/intro--team-large.jpg");
    }

    &--equipment {
      background-image: url("../img/intro--equipment-large.jpg");
    }

    &--contacts {
      background-image: url("../img/intro--contacts-large.jpg");
    }
  }
}

.intro__inner {
  padding-top: calc(var(--page-header-bypass) + 60px);
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-min-width) {
    padding-top: var(--page-header-bypass);
  }

  @media (min-width: $large-min-width) {
    padding-bottom: 200px;
  }
}

.intro__heading {
  margin-top: 0;
  margin-bottom: 0;

  @include font(400, 36px, 54px);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: white;

  .intro--partners & {
    @include font(400, 24px, 36px);
  }

  .intro--equipment & {
    @include font(400, 24px, 36px);
  }

  @media (min-width: $medium-min-width) {
    @include font(400, 42px, 63px);
    letter-spacing: 2px;

    .intro--partners & {
      @include font(400, 42px, 63px);
    }

    .intro--equipment & {
      @include font(400, 42px, 63px);
    }
  }

  @media (min-width: $large-min-width) {
    @include font(400, 60px, 72px);
    letter-spacing: 3px;

    .intro--partners & {
      @include font(400, 60px, 72px);
    }

    .intro--equipment & {
      @include font(400, 60px, 72px);
    }
  }
}
