.language-toggle {
  position: relative;

  &::before {
    @include font(400, 14px, 19px);
    content: "RU";
    position: absolute;
    top: 2px;
    left: -25px;
    letter-spacing: 1.2px;
    color: white;
  }

  &::after {
    @include font(400, 14px, 19px);
    content: "EN";
    position: absolute;
    top: 2px;
    right: -25px;
    letter-spacing: 1.2px;
    color: white;
  }

  @media (min-width: $huge-min-width) {
    &::before {
      left: -27px;
    }

    &::after {
      right: -29px;
    }
  }
}

.language-toggle__button {
  position: relative;
  display: block;
  width: 46px;
  height: 21px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 10.5px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background-color: black;
    border-radius: 50%;
  }

  &.is-english::before {
    left: auto;
    right: 0;
  }
}
