.main-navigation__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  .main-navigation--footer & {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    justify-content: space-around;
  }

  @media (min-width: $medium-min-width) {
    grid-column-gap: 20px;
  }

  @media (min-width: $large-min-width) {
    .main-navigation--header & {
      display: flex;
      justify-content: space-between;
    }
  }
}

.main-navigation__item {
  .main-navigation--header & {
    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
  }

  @media (min-width: $large-min-width) {
    .main-navigation--header & {
      &:not(:last-child) {
        border-bottom-style: none;
      }
    }
  }
}

.main-navigation__link {
  .main-navigation--header & {
    display: block;
    padding: 15px 20px;

    @include font(400, 18px, 20px);
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #1a1a2b;
  }

  .main-navigation--footer & {
    @include font(400, 14px, 21px);
    color: $light-gray;
  }

  @media (min-width: $medium-min-width) {
    .main-navigation--header & {
      @include font(400, 20px, 30px);
    }
  }

  @media (min-width: $large-min-width) {
    .main-navigation--header & {
      display: inline;
      padding: 0;

      @include font(400, 20px, 30px);
      text-transform: none;
      background-color: transparent;
    }
  }
}
