.page-footer {
  background-color: #252424;
  background-image: url("../img/page-footer-background-mobile.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $medium-min-width) {
    background-image: url("../img/page-footer-background-tablet.png");
  }
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;

  @media (min-width: $medium-min-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__column-1 {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $medium-min-width) {
    order: 0;
    margin-bottom: 0;
  }
}

.page-footer__column-2 {
  margin-bottom: 20px;

  @media (min-width: $medium-min-width) {
    margin-bottom: 0;
  }
}

.page-footer__column-3 {
  margin-bottom: 20px;

  @media (min-width: $medium-min-width) {
    margin-bottom: 0;
  }
}

.page-footer__address {
  margin-bottom: 20px;
}

.page-footer__logo {
  margin-bottom: 10px;

  @media (min-width: $large-min-width) {
    margin-bottom: 20px;
  }
}

.page-footer__creator {
  order: 1;
  width: 100%;

  @media (min-width: $medium-min-width) {
    margin-top: 20px;
  }
}
