.page-main__promo {
  margin-bottom: 50px;

  @media (min-width: $large-min-width) {
    margin-bottom: 110px;
  }
}

.page-main__advantages {
  margin-bottom: 60px;

  @media (min-width: $large-min-width) {
    margin-bottom: 120px;
  }
}

.page-main__directions {
  margin-bottom: 60px;

  @media (min-width: $large-min-width) {
    margin-bottom: 100px;
  }
}

.page-main__partners {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 135px;
  }
}

.page-main__about {
  margin-bottom: 80px;

  @media (min-width: $large-min-width) {
    margin-bottom: 120px;
  }
}

.page-main__intro {
  margin-bottom: 40px;

  .page-main--partners & {
    margin-bottom: 0;
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 125px;
  }
}

.page-main__history {
  margin-bottom: 80px;

  @media (min-width: $large-min-width) {
    margin-bottom: 120px;
  }
}

.page-main__acknowledgements {
  margin-bottom: 80px;

  @media (min-width: $large-min-width) {
    margin-bottom: 120px;
  }
}
