.page-main__promo {
  margin-bottom: 50px;
}

.page-main__advantages {
  margin-bottom: 60px;
}

.page-main__directions {
  margin-bottom: 60px;
}

.page-main__partners {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-main__about {
  margin-bottom: 80px;
}
