.page-header {
  background-color: rgba(0, 0, 0, 0.4);
}

.page-header__inner {
  @include margin-hor;
  position: relative;
  width: $small-min-width;
  padding: 30px 20px 20px;

  @media (min-width: $medium-min-width) {
    display: flex;
    width: auto;
    padding-top: 20px;
  }

  @media (min-width: $large-min-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $huge-min-width) {
    width: $huge-min-width;
    padding-left: 10px;
    padding-right: 100px;
  }
}

.page-header__logo {
  @media (min-width: $medium-min-width) {
    margin-left: 80px;
  }

  @media (min-width: $large-min-width) {
    margin-left: 0;
    margin-right: 90px / $large-min-width * 100%;
  }

  @media (min-width: $huge-min-width) {
    margin-right: 140px;
  }
}

.page-header__menu-controls {
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 1;

  @media (min-width: $medium-min-width) {
    top: 50px;
    left: 20px;
    right: auto;
  }
}

.page-header__navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 240px;

  &.is-visible {
    display: block;
  }

  @media (min-width: $medium-min-width) {
    left: 90px;
    width: 400px;
  }

  @media (min-width: $large-min-width) {
    flex-grow: 1;
    align-self: center;
    position: static;
    left: auto;
    z-index: auto;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: 90px / $large-min-width * 100%;
  }

  @media (min-width: $huge-min-width) {
    margin-right: 0;
  }
}

.page-header__socials {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: $medium-min-width) {
    align-items: center;
    margin-top: 0;
    margin-left: auto;
    padding-top: 16px;
  }

  @media (min-width: $large-min-width) {
    align-self: center;
    padding-top: 0;
  }

  @media (min-width: $huge-min-width) {
    position: static;
    align-items: stretch;
    margin-left: 140px;
  }
}

.page-header__language-toggle {
  position: absolute;
  top: 100px;
  right: 30px;
  z-index: 1;

  @media (min-width: $medium-min-width) {
    top: 20px;
    right: 20px;
  }

  @media (min-width: $large-min-width) {
    right: 40px;
  }

  @media (min-width: $huge-min-width) {
    right: 100px;
  }
}
