.page-header {
  background-color: rgba(0, 0, 0, 0.4);
}

.page-header__inner {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-min-width) {
    display: flex;
    padding-top: 20px;
  }

  @media (min-width: $huge-min-width) {
    padding-left: 10px;
    padding-right: 100px;
  }
}

.page-header__logo {
  @media (min-width: $medium-min-width) {
    margin-left: 80px;
  }

  @media (min-width: $large-min-width) {
    margin-left: 0;
    margin-right: 45px;
  }

  @media (min-width: $huge-min-width) {
    margin-right: 56px;
  }
}

.page-header__menu-controls {
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 1;

  @media (min-width: $medium-min-width) {
    top: 50px;
    left: 20px;
    right: auto;
  }
}

.page-header__navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 240px;

  &.is-visible {
    display: block;
  }

  @media (min-width: $medium-min-width) {
    left: 90px;
    width: 400px;
  }

  @media (min-width: $large-min-width) {
    flex-grow: 1;
    position: static;
    left: auto;
    z-index: auto;
    display: block;
    width: auto;
    margin-left: auto;
    padding-top: 20px;
  }

  @media (min-width: $huge-min-width) {
    padding-top: 30px;
  }
}

.page-header__connection {
  margin-top: 20px;

  @media (min-width: $medium-min-width) {
    margin-top: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  @media (min-width: $large-min-width) {
    position: absolute;
    bottom: 18px;
    right: 20px;
  }

  @media (min-width: $huge-min-width) {
    position: static;
    align-items: stretch;
    margin-left: 87px;
  }
}

.page-header__language-toggle {
  position: absolute;
  top: 100px;
  right: 40px;
  z-index: 1;

  @media (min-width: $medium-min-width) {
    top: 160px;
    left: 70px;
    right: auto;
  }

  @media (min-width: $large-min-width) {
    top: 180px;
  }

  @media (min-width: $huge-min-width) {
    top: 210px;
  }
}
