.page-main {
  background-repeat: no-repeat;
  background-position: bottom;

  &--about {
    background-image: url("../img/about-background-small.png");
  }

  &--projects {
    background-image: url("../img/projects-background-small.png");
  }

  &--team {
    background-image: url("../img/team-background-small.png");
  }

  &--equipment {
    background-image: url("../img/equipment-background-small.png");
  }

  @media (min-width: $medium-min-width) {
    &--about {
      background-image: url("../img/about-background-medium.png");
    }

    &--projects {
      background-image: url("../img/projects-background-medium.png");
    }

    &--team {
      background-image: url("../img/team-background-medium.png");
    }

    &--equipment {
      background-image: url("../img/equipment-background-medium.png");
    }
  }

  @media (min-width: $large-min-width) {
    &--about {
      background-image: url("../img/about-background-large.png");
      background-position-y: calc(100% + 300px);
    }

    &--projects {
      background-image: url("../img/projects-background-large.png");
      background-position-y: calc(100% + 100px);
    }

    &--team {
      background-image: url("../img/team-background-large.png");
      background-position-y: 100%;
    }

    &--equipment {
      background-image: url("../img/equipment-background-large.png");
      background-position-y: 100%;
    }
  }
}

.page-main__promo {
  margin-bottom: 50px;

  @media (min-width: $large-min-width) {
    margin-bottom: 110px;
  }
}

.page-main__advantages {
  margin-bottom: 60px;

  @media (min-width: $large-min-width) {
    margin-bottom: 120px;
  }
}

.page-main__directions {
  margin-bottom: 60px;

  @media (min-width: $large-min-width) {
    margin-bottom: 100px;
  }
}

.page-main__partners {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 135px;
  }
}

.page-main__about {
  margin-bottom: 80px;

  @media (min-width: $large-min-width) {
    margin-bottom: 120px;
  }
}

.page-main__intro {
  margin-bottom: 40px;

  .page-main--partners & {
    margin-bottom: 0;
  }

  .page-main--team & {
    margin-bottom: 60px;
  }

  @media (min-width: $medium-min-width) {
    .page-main--team & {
      margin-bottom: 90px;
    }
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 125px;

    .page-main--projects & {
      margin-bottom: 90px;
    }

    .page-main--contacts & {
      margin-bottom: 70px;
    }
  }
}

.page-main__history {
  margin-bottom: 80px;

  @media (min-width: $large-min-width) {
    margin-bottom: 120px;
  }
}

.page-main__acknowledgements {
  margin-bottom: 80px;

  @media (min-width: $large-min-width) {
    margin-bottom: 120px;
  }
}

.page-main__experience {
  margin-bottom: 70px;
}

.page-main--contacts {
  @media (min-width: $large-min-width) {
    margin-bottom: 50px;
  }
}
