.page__header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.page__main {
  .page--index & {
    margin-bottom: 50px;
  }

  @media (min-width: $large-min-width) {
    .page--index & {
      margin-bottom: 135px;
    }
  }
}
