.projects__inner {
  width: $small-min-width;

  @include margin-hor;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-min-width) {
    width: $medium-min-width;
  }

  @media (min-width: $large-min-width) {
    width: $large-min-width;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: $huge-min-width) {
    width: $huge-min-width;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.projects__heading {
  margin-top: 0;
  margin-bottom: 20px;

  @include font(400, 28px, 42px);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $medium-min-width) {
    margin-bottom: 40px;

    @include font(400, 32px, 48px);
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 65px;

    @include font(400, 36px, 52px);
  }

  @media (min-width: $huge-min-width) {
    margin-bottom: 60px;
  }
}
