.promo-slide {
  display: flex;
  width: 100%;
  background-color: #1a1a2b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 1080px;

  @for $i from 1 through 4 {
    &--#{$i} {
      background-image: url("../img/promo-slide--#{$i}-background-small.jpg");
    }
  }

  @media (min-width: $medium-min-width) {
    background-size: 1230px 1080px;

    @for $i from 1 through 4 {
      &--#{$i} {
        background-image: url("../img/promo-slide--#{$i}-background-medium.jpg");
      }
    }
  }

  @media (min-width: $large-min-width) {
    background-size: 1920px 1080px;

    @for $i from 1 through 4 {
      &--#{$i} {
        background-image: url("../img/promo-slide--#{$i}-background-large.jpg");
      }
    }
  }

  @media (min-width: $huge-min-width) {
    background-position: top;
  }
}

.promo-slide__inner {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--page-header-bypass) + 15px);
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: white;

  @media (min-width: $medium-min-width) {
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $large-min-width) {
    max-height: 1080px;
    padding-left: 0;
    padding-right: 0;
    font-size: 50px;
    line-height: 60px;
  }

  @media (min-width: $huge-min-width) {
    padding-bottom: 215px;
    font-size: 60px;
    line-height: 72px;
  }
}

.promo-slide__title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $medium-min-width) {
    word-spacing: 10px;
  }

  @media (min-width: $large-min-width) {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }

  @media (min-width: $huge-min-width) {
    padding-left: 328px;
    padding-right: 500px;
  }
}

.promo-slide__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: white;

  @media (min-width: $medium-min-width) {
    word-spacing: 5px;
  }

  @media (min-width: $large-min-width) {
    padding-left: 20px;
    padding-right: 300px;
    text-align: left;
  }

  @media (min-width: $huge-min-width) {
    padding-left: 328px;
    padding-right: 600px;
  }
}

.promo-slide__more-link {
  display: block;
  margin-top: auto;

  @include margin-hor;
  width: 75px;
  height: 75px;
  background-image: url("../img/promo-slide-down-arrow.png");
  background-repeat: no-repeat;
  background-position: 50% calc(50% + 3px);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
