.promo-slide {
  display: flex;
  width: 100%;
  background-color: #1a1a2b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 1080px;

  @for $i from 1 through 4 {
    &--#{$i} {
      background-image: url("../img/promo-slide--#{$i}-background-small.jpg");
    }
  }

  @media (min-width: $medium-min-width) {
    background-size: 1230px 1080px;

    @for $i from 1 through 4 {
      &--#{$i} {
        background-image: url("../img/promo-slide--#{$i}-background-medium.jpg");
      }
    }
  }

  @media (min-width: $large-min-width) {
    background-size: 1920px 1080px;

    @for $i from 1 through 4 {
      &--#{$i} {
        background-image: url("../img/promo-slide--#{$i}-background-large.jpg");
      }
    }
  }

  @media (min-width: $huge-min-width) {
    background-position: top;
  }
}

.promo-slide__inner {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--page-header-bypass) + 15px);
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $large-min-width) {
    max-height: 1080px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $huge-min-width) {
    padding-bottom: 215px;
  }
}

.promo-slide__title {
  @include font(400, 22px, 32px);
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;

  @media (min-width: $medium-min-width) {
    @include font(400, 40px, 50px);
    word-spacing: 10px;
  }

  @media (min-width: $large-min-width) {
    @include font(400, 50px, 60px);
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.3em;
    text-align: left;
  }

  @media (min-width: $huge-min-width) {
    @include font(400, 60px, 72px);
    padding-left: 328px;
    padding-right: 500px;
  }
}

.promo-slide__subtitle {
  font-family: "PT Sans Narrow", sans-serif;
  margin-top: 0;
  margin-bottom: 20px;

  @include font(400, 16px, 24px);
  text-align: center;
  color: white;

  @media (min-width: $medium-min-width) {
    @include font(400, 36px, 42px);
    word-spacing: 5px;
  }

  @media (min-width: $large-min-width) {
    @include font(400, 50px, 60px);
    padding-left: 20px;
    padding-right: 300px;
    text-align: left;
  }

  @media (min-width: $huge-min-width) {
    @include font(400, 60px, 72px);
    padding-left: 328px;
    padding-right: 600px;
  }
}

.promo-slide__more-link {
  display: block;
  margin-top: auto;

  @include margin-hor;
  width: 75px;
  height: 75px;
  background-image: url("../img/promo-slide-down-arrow.png");
  background-repeat: no-repeat;
  background-position: 50% calc(50% + 3px);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
