.socials__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 10px;
  }

  @media (min-width: $huge-min-width) {
    &:not(:last-child) {
      margin-right: 17px;
    }
  }
}

.socials__link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--instagram {
    background-image: url("../img/socials-instagram.svg");
  }

  &--youtube {
    background-image: url("../img/socials-youtube.svg");
  }

  &--facebook {
    background-image: url("../img/socials-facebook.svg");
  }

  .socials--contacts & {
    &--instagram {
      background-image: url("../img/socials-instagram--contacts.svg");
    }

    &--youtube {
      background-image: url("../img/socials-youtube--contacts.svg");
    }

    &--facebook {
      background-image: url("../img/socials-facebook--contacts.svg");
    }
  }

  @media (min-width: $large-min-width) and (max-width: $large-max-width) {
    width: 32px;
    height: 32px;
  }
}
