$azure: #009fe3;
$dark-gray: #252525;
$light-gray: #636363;

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1219px;
$min-laptop-width: 1220px;
$max-laptop-width: 1919px;
$min-desktop-width: 1920px;
