$dark-gray: #252525;
$azure: #009fe3;

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1219px;
$min-desktop-width: 1220px;
$max-desktop-width: 1920px;
