.partners__item {
  padding-top: 20px;
  padding-bottom: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
  }

  @media (min-width: $medium-min-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    &:not(:last-child) {
      border-style: none;
    }

    .partners--short &:nth-last-child(n+4) {
      border-bottom: 1px solid #e4e4e4;
    }

    .partners--short &:nth-child(3n+1) {
      border-right: 1px solid #e4e4e4;
    }

    .partners--short &:nth-child(3n+2) {
      border-right: 1px solid #e4e4e4;
    }
  }

  @media (min-width: $large-min-width) {
    .partners--short &:nth-child(3n) {
      justify-content: flex-end;
      padding-left: 60px;
    }

    .partners--short &:nth-child(3n+2) {
      padding-left: 60px;
      padding-right: 60px;
    }

    .partners--short &:nth-child(3n+1) {
      justify-content: flex-start;
      padding-right: 60px;
    }
  }

  @media (min-width: $huge-min-width) {
    padding-top: 41px;
    padding-bottom: 30px;

    .partners--short &:nth-child(3n+1) {
      justify-content: center;
      padding-right: 0;
    }

    .partners--short &:nth-child(3n+2) {
      padding-left: 0;
      padding-right: 0;
    }

    .partners--short &:nth-child(3n) {
      justify-content: center;
      padding-left: 0;
    }
  }
}
