#{$this}__inner {
  width: 267px;
  height: 214px;
  margin: auto;
  background-image: url("../img/widget.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
