.header-navigation__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media (min-width: $large-min-width) {
    @include margin-hor();
    display: flex;
    justify-content: space-between;
    min-width: 790px;
    max-width: 1100px;
  }

  @media (min-width: $huge-min-width) {
    max-width: none;
  }
}
