.header-navigation__list {
  @include list();

  @include media-breakpoint-from(large) {
    @include margin-hor();
    display: flex;
    justify-content: space-between;
    min-width: 790px;
    max-width: 1100px;
  }

  @include media-breakpoint-from(huge) {
    max-width: none;
  }
}
