script(src='js/picturefill.js')
script(src='js/main-navigation.js')
if $projectCardsContained
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script.
    /* eslint-disable */
    'use strict';
    window.jQuery || document.write('<script src="js/jquery-3.3.1.js"><\/script>')
  script(src='js/lightbox_customized.js')
block page-scripts-distinct
