body(class=setModifiers('page', [$pageId]))
  .page__header
    include ../page-header/_page-header
  .page__main
    main(class=setModifiers('page-main', [$pageId]))
      block page-main
  .page__footer
    include ../page-footer/_page-footer
  if $pageId === 'partners'
    .page__modal
      include ../modal/_modal
  block body-scripts
