script(src='js/picturefill.js')
script(src='js/main-navigation.js')
if $needJquery
  script.
    /* eslint-disable */
    'use strict';
    window.jQuery || document.write('<script src="js/jquery-3.3.1.js"><\/script>')
if $projectCardsContained
  script(src='js/lightbox_customized.js')
block page-scripts-distinct
