.page__header
  include ../page-header/_page-header
.page__main
  main(class=setModifiers('page-main', [$pageId]))
    if $pageId !== 'index'
      .page-main__intro
        header(class=setModifiers('intro', [$pageId]))
          .aligner.intro__inner
            h1.intro__heading.heading= $pageTitle
    block page-main
.page__footer
  include ../page-footer/_page-footer
if $pageId === 'partners'
  .page__modal
    include ../modal/_modal
