.advantages__item {
  margin-bottom: 40px;

  &--last {
    margin-bottom: 0;
  }

  @media (min-width: $medium-min-width) {
    @include margin-hor(25px);
    width: 50%;
    margin-top: 60px;
    margin-bottom: 0;
  }

  @media (min-width: $large-min-width) {
    width: 255px;
  }

  @media (min-width: $huge-min-width) {
    width: 260px;
  }
}
