.advantages__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media (min-width: $medium-min-width) {
    @include margin-hor(-25);
    @include padding-hor(50px);
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
  }

  @media (min-width: $large-min-width) {
    justify-content: center;
  }

  @media (min-width: $huge-min-width) {
    @include margin-hor();
    width: 1140px;
  }
}
