#{$this}__image {
  position: absolute;
  width: 100%;
  height: auto;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;

  #{$this}__link:hover & {
    transform: scale(1.1);
  }
}
